@model MTCategoryModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";


}
@{string display = ""; }
@if (Model.ActiveCategory != null) { display = "display:block; list-style-type:none;"; }
<ul class="sub-menu" style="@display">
    @*<%--Üst Kategoriler--%>*@
    @{int LeftMargin = 0;
    }
    @if (Model.ActiveCategory != null)
    {
        LeftMargin += 0;
        foreach (var item in Model.MTTopCategoryItems.ToList())
        {
            
            <li class="sub-menu-item"  >
                <a style="margin-left:@Html.Raw(LeftMargin+"px")" href="@item.CategoryUrl">
                    @item.CategoryName
                </a>
            </li>
            LeftMargin += 5;
        }
        @*<%--Aktif Kategori--%>*@
 
        LeftMargin += 2;

        @*<%--Alt Kategoriler--%>*@

        foreach (var item in Model.MTTopCategoryItems.Where(c => c.CategoryParentId == Model.ActiveCategory.CategoryId && c.CategoryType != (byte)CategoryType.Model).OrderBy(c => c.CategoryName))
        {
            <li class="sub-menu-item" style="padding-left:@Html.Raw(LeftMargin+"px")">
                &nbsp;&nbsp;&nbsp;<a href="@item.CategoryUrl">
                    @item.CategoryName
                </a>
            </li>
        }

    }
    else
    {

        foreach (var item in Model.MTCategoryItems.Where(x=>x.CategoryType==(byte)CategoryType.ProductGroup).OrderBy(c => c.CategoryName))
        {
            <li class="sub-menu-item">
                <a href="@item.CategoryUrl">@item.CategoryName</a>

                @if (Model.MTCategoryItems.Where(x => x.CategoryParentId == item.CategoryId).ToList().Count > 0)
                {
                    <i class="icon-down-arrow menuarrow"></i>
                    <ul class="sub-menu">
                        @foreach (var itemParent in Model.MTCategoryItems.Where(c => c.CategoryParentId == item.CategoryId))
                        {
                            <li class="sub-menu-item">
                                <a href="@itemParent.CategoryUrl">@itemParent.CategoryName</a>
                            </li>

                        }
                    </ul>
                }
            </li>

        }
    }
</ul>


