@model MTProductsProductListModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    Layout = null;
    string queryOrder = string.IsNullOrEmpty(Request.QueryString["Order"]) ? "" : Request.QueryString["Order"].ToString();
    string activeCss = "active";
}
@Html.Hidden("hiddenStoreId", Model.StoreMainPartyId)
@Html.Hidden("hdnCategoryId", Model.CategoryId)

<input type="hidden" id="hdnDisplayType" value="@(Model.ViewType == 0 ? 1 : Model.ViewType)" />
<div class="row">
    <div class="col-xs-9 col-sm-6 col-md-8">

    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 ">
        <div class="col-md-7 hidden-xs col-xs-1">
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="btnGroupVerticalDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Sıralama Türü Seçiniz
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupVerticalDrop1">
                        <li>
                            <a class="@(queryOrder == " a-z" ? activeCss : string.Empty)" href="@Request.FilePath@("&Order=a-z")">a-Z</a>
                        </li>
                        <li>
                            <a class="@(queryOrder == " z-a" ? activeCss : string.Empty)" href="@Request.FilePath@("&Order=z-a")">Z-a</a>
                        </li>
                        <li>
                            <a class="@(queryOrder == " sone" +
                "klenen" ? activeCss : string.Empty)" href="@Request.FilePath@("&Order=soneklenen")">Son Eklenen</a>
                        </li>
                        <li>
                            <a class="@(queryOrder == " encokgoruntulenen" ? activeCss : string.Empty)" href="@Request.FilePath">En Çok Görüntülenen</a>
                        </li>
                        <li>
                            <a class="@(queryOrder == " fiyat-artan" ? activeCss : string.Empty)" href="@Request.FilePath@("&Order=fiyat-artan")">Fiyata Göre Artan</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-11">

        </div>
    </div>
</div>

<div class="tab-pane fade in active" id="pencere">
    <div class="product-list-mt row clearfix">

        @foreach (var item in Model.MTProductsPageProductLists.Source.ToList())
        {


            <div class="col-md-4 col-lg-3">
                <div class="product-list-mt__item js-hover-product-item">
                    <div class="product-list-mt__inner">
                        <div class="row">
                            <div class="col-md-12">


                                <a href="@item.ProductUrl"
                                   title="@item.ProductName"
                                   class="product-list-mt__link">
                                    <div class="product-list-mt__image-area">

                                        <img class="img-thumbnail"
                                             src="@item.ProductImagePath.Replace(" 500x375","200x150")"
                                             alt="@item.ProductName" />
                                        @if (item.FavoriteProductId > 0)
                                        {
                                            <div class="product-list-favorite-icon product-list-favorite-icon-c" onclick="RemoveFavoriteProductItem(@item.ProductId)" data-pid="@item.ProductId" data-productid="product-favorite-item-@item.ProductId" title="Favorilerden Kaldır"><i class="fa fa-heart"></i></div>

                                        }
                                        else
                                        {
                                            <div data-pid="@item.ProductId" onclick="AddFavoriteProductItem(@item.ProductId)" class="product-list-favorite-icon product-list-favorite-icon-c" data-productid="product-favorite-item-@item.ProductId" title="Favorilere Ekle"><i class="fa fa-heart-o"></i></div>

                                        }
                                        @if (item.HasVideo)
                                        {

                                            <div class="product-list-video-icon" title="Videolu Ürün"><i class="fa fa-video-camera"></i></div>


                                        }
                                    </div>

                                    <div class="product-list-mt__detail">

                                        <div class="product-list-mt__title-info">
                                            <h4 class="product-list-mt__title">
                                                @item.ProductName
                                            </h4>
                                            <p class="product-list-mt__brand-model">
                                                @item.BrandName, @item.ModelName
                                            </p>
                                        </div>
                                        <p class="product-list-mt__price">
                                            @if (!item.ProductPrice.Contains("Fiyat"))
                                            {




                                                <span class="@(!string.IsNullOrEmpty(item.ProductPriceDiscount) ? " old-price" :"")">
                                                    <i itemprop="priceCurrency" class="@item.Currency"></i>
                                                    @item.ProductPrice
                                                </span>

                                                if (!string.IsNullOrEmpty(item.ProductPriceDiscount))
                                                {
                                                    <i itemprop="priceCurrency" class="@item.Currency"></i>
                                                    <span>@item.ProductPriceDiscount</span>
                                                }
                                            }
                                            else
                                            {
                                                <span class="interview"></span>
                                            }
                                        </p>
                                        <p class="product-list-mt__advert-no">
                                            @item.ProductNo
                                        </p>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12">
        @Html.Partial("Paging", Model.MTProductsPageProductLists)
    </div>
</div>

