@model IList<MTVideoModel>
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";

}


<div class="row" id="anaDiv">

    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="thumbnail thumbnail-mt2 mb20 hidden-item-container">
                <div class="videoBG">
                    <a href="@item.VideoUrl" class="pa-center btn btn-sm btn-info hidden-item">
                        <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Oynat
                    </a><a href="@item.VideoUrl">
                        <img src="@item.PicturePath" alt="@item.StoreName" />
                        <div class="videos-minute">
                            <span class="text-mutedx">@(item.VideoMinute) : @(item.VideoSecondStr)</span>
                        </div>
                    </a>
                    <!-- /.videoBG -->
                </div>
                <div class="caption">
                    @if (item.TruncateProductName.Length > 45)
                    {
                        <p class="margin0 productName productNameLineHeight">
                            <a href="@item.ProductUrl">@String.Concat(item.TruncateProductName.Substring(0, 45),"...")</a>
                        </p>
                    }
                    else
                    {
                        <p class="margin0 productName">
                            <a href="@item.ProductUrl">@item.TruncateProductName</a>
                        </p>
                    }

                    <p class="mb0 margin0">
                        <span class="text-muted text-size">
                            @item.VideoRecordDate
                        </span>
                        <span class="text-muted pull-right text-size">
                            @item.SingularViewCount Görüntülenme
                        </span>
                    </p>
                </div>
                <a href="@item.StoreUrl" style="display:none" class="btn btn-sm btn-mt2 btn-block companyName">
                    @item.TruncateStoreName
                </a>
            </div>
        </div>
    }


</div>

