@model MTStoreProfileBranchModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";

}

@section headercontent{
    @Html.Partial("_HeaderContent")
}

@section storeprofileheadercontent{
    @if (Model.StoreActiveType == 2)
    {
    }
    @Html.Partial("_HeaderTop", Model.MTStoreProfileHeaderModel)
}


@section stoprofilemenu{
    @if (Model.StoreActiveType == 2)
    {
        @Html.Partial("_LeftMenu", Model.MTStoreProfileHeaderModel)

    }
}


@if (Model.StoreActiveType == 2)
{
    @Html.Hidden("hdnStoreMainPartyId", Model.MainPartyId)

    <div class="col-sm-7 col-md-8 col-lg-9">
        <div class="StoreProfileContent">

            @foreach (var item in Model.BranchAddresses)
            {
                <div class="col-xs-12">
                    <div class="col-xs-4 col-md-2">
                        <div class="thumbnail thumbnail-mt">
                            <div class="caption text-left">
                                <b>@Model.StoreBranchs.FirstOrDefault(c => c.StoreDealerId == item.StoreDealerId).DealerName  </b>
                                <br>
                                <p>
                                    @Model.AdressEdits.FirstOrDefault(x => x.AddressId == item.AddressId).Address
                                    <br />
                                    @foreach (var itemPhones in Model.Phones.Where(c => c.AddressId == item.AddressId))
                                    {
                                        var pType = (PhoneType)itemPhones.PhoneType;
                                        string phone = "";
                                        switch (pType)
                                        {
                                            case PhoneType.Phone:
                                                phone = "Telefon:";
                                                break;
                                            case PhoneType.Fax:
                                                phone = "Fax:";
                                                break;
                                            case PhoneType.Gsm:
                                                phone = "Gsm:";
                                                break;
                                            default:
                                                break;
                                        }

                                        @phone
                                        @(itemPhones.PhoneCulture + " " + itemPhones.PhoneAreaCode + " " + itemPhones.PhoneNumber)
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <!-- /.col-md-5 main content -->
    </div>


}
else
{
    @Html.Action("NoAccessStore", new { id = Model.MainPartyId })
}


