@model MTConnectionModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";

}

@section headercontent{
    @Html.Partial("_HeaderContent")
}

@section storeprofileheadercontent{
    @if (Model.StoreActiveType == 2)
    {
    }
    @Html.Partial("_HeaderTop", Model.MTStoreProfileHeaderModel)
}

@section stoprofilemenu{
    @if (Model.StoreActiveType == 2)
    {
        @Html.Partial("_LeftMenu", Model.MTStoreProfileHeaderModel)

    }
}

@if (Model.StoreActiveType == 2)
{

    string wGsm = "";

    <div class="col-sm-7 col-md-8 col-lg-9">
        <div class="StoreProfileContent">

            <div class="col-sm-12 mt20">
                <table class="table table-striped">
                    <tbody>

                        <tr>
                            <th style="width: 160px;">
                                Yetkili :
                            </th>
                            <td>
                                @Model.AuthorizedNameSurname
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Firma Ünvanı :
                            </th>
                            <td>
                                @Model.StoreName
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Adres :
                            </th>
                            <td>
                                @Model.AddressMap
                            </td>
                        </tr>

                        @foreach (var item in Model.Phones.Where(x => x.ShowPhone == true))
                        {
                            if (item.PhoneType == PhoneType.Fax)
                            {
                                <tr>
                                    <th>
                                        Fax :
                                    </th>
                                    <td>
                                        @item.GetFullText()
                                    </td>
                                </tr>
                            }
                            else if (item.PhoneType == PhoneType.Gsm)
                            {
                                <tr>
                                    <th>
                                        GSM :
                                    </th>
                                    <td>
                                        @item.GetFullText()
                                    </td>
                                </tr>
                            }
                            else if (item.PhoneType == PhoneType.Whatsapp)
                            {
                                wGsm = item.GetFullText();


                            }
                            else
                            {
                                <tr>
                                    <th>
                                        Telefon :
                                    </th>
                                    <td>

                                        @item.GetFullText()
                                    </td>
                                </tr>
                            }
                        }

                        @if (wGsm != "")
                        {
                            <tr>
                                <th>
                                    Whatsapp:
                                </th>
                                <td>
                                    @{string storeUrl = Request.Url.AbsoluteUri;
                                    }
                                    @{string whatsappUrl = "https://api.whatsapp.com/send?phone=" + wGsm.Replace("+", "").Replace(" ", "") + "&text='" + storeUrl + "' firma sayfanız aracılığıyla";
                                    }

                                    <img src="/Content/SocialIcon/wp-32.png" alt="whatsapp logo" />
                                    <a href="@whatsappUrl" rel="external" target="_blank">Whatsappla İletişim Kur</a>

                                </td>
                            </tr>
                        }
                        <tr>
                            <th>
                                Web :
                            </th>
                            <td>

                                <a href="@Model.StoreWebUrl" rel="nofollow" target="_blank">
                                    @Html.Truncate(Model.StoreWebUrl, 50)
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <div style="width: 100%; overflow: hidden; height: 280px;">
                    <iframe id="mainMap" height="470" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="  https://maps.google.com/maps?q=
													                @Model.AddressMap
										                &amp;num=1&amp;ie=UTF8&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"
                            style="border: 0; margin-top: -150px;"></iframe>
                </div>
            </div>

            <div class="clearfix"></div>
            <!-- ./StoreProfileContent -->
        </div>
        <!-- /.col-md-5 main content -->
    </div>


}
else
{
    @Html.Action("NoAccessStore", new { id = Model.MainPartyId })
}

@if (Model.StoreActiveType == 2 && !string.IsNullOrEmpty(Model.MtJsonLdModel.JsonLdString))
{
    <script type="application/ld+json">
        @Model.MtJsonLdModel.JsonLdString
    </script>
}

