@model MTDealerShipModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using MakinaTurkiye.Core
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";

}

@section headercontent{
    @Html.Partial("_HeaderContent")

}

@section storeprofileheadercontent{
    @if (Model.StoreActiveType == 2)
    {
    }
    @Html.Partial("_HeaderTop", Model.MTStoreProfileHeaderModel)
}

@section stoprofilemenu{
    @if (Model.StoreActiveType == 2)
    {
        @Html.Partial("_LeftMenu", Model.MTStoreProfileHeaderModel)

    }
}

@if (Model.StoreActiveType == 2)
{
    @Html.Hidden("hdnStoreMainPartyId", Model.MainPartyId)
    <div class="col-sm-7 col-md-8 col-lg-9">
        <div class="StoreProfileContent">

            <div class="col-xs-12">
                @foreach (var item in Model.DealerBrands)
                {
                    <div class="col-xs-4 col-md-2">
                        <div class="thumbnail thumbnail-mt">
                            <img src="@(MakinaTurkiye.Utilities.FileHelpers.FileHelper.ImageThumbnailName(AppSettings.DealerBrandImageFolder + item.DealerBrandPicture) )" />
                            <div class="caption">
                                @item.DealerBrandName
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
else
{
    @Html.Action("NoAccessStore", new { id = Model.MainPartyId })
}
