@model ICollection<MessageModel>
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.FavoriteProducts

@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}

@section headercontent{
}


@{ var entities = new MakinaTurkiyeEntities();
    short index = 0;
}
@foreach (var item in Model)
{
    index++;


    var checkmessage = entities.messagechecks.Where(c => c.MessageId == item.MessageId).Where(c => c.MainPartyId == AuthenticationUser.Membership.MainPartyId).FirstOrDefault();
    if (checkmessage == null)
    {

<tr class="info">
    <td>
        @Html.CheckBox("click")
    </td>
    <td>
        <a href="/Account/Message/Detail/@item.MessageId?RedirectMessageType=@((byte)MessageType.Inbox )">
            @Html.Truncate(item.MainPartyFullName, 22)
        </a>
    </td>
    <td>
        <a href="/Account/Message/Detail/@(item.MessageId)?RedirectMessageType=@((byte)MessageType.Inbox )">
            @{ var subject = entities.Messages.Where(c => c.MessageId == item.MessageId).SingleOrDefault().MessageSubject;

                                    if (subject != null)
                                    {
                @Html.Truncate(subject, 70) } }
        </a>
    </td>
    <td class="hidden-xs">
        @item.MessageDate.ToString("dd.MM.yyyy HH:mm")
    </td>
</tr> }
                else
                {
                    <tr>

                        <td>

                            @Html.CheckBox("click")

                        </td>

                        <td>

                            <a href="/Account/Message/Detail/@(item.MessageId)?RedirectMessageType=@((byte)MessageType.Inbox )">

                                @Html.Truncate(item.MainPartyFullName, 22)

                            </a>

                        </td>

                        <td>

                            <a href="/Account/Message/Detail/@(item.MessageId)?RedirectMessageType=@((byte)MessageType.Inbox )">

                                @{
                                    var subject = entities.Messages.Where(c => c.MessageId == item.MessageId).SingleOrDefault().MessageSubject;

                                    if (subject != null)
                                    {



                                        @Html.Truncate(subject, 70)



                                    }
                                }

                            </a>

                        </td>

                        <td class="hidden-xs">

                            @item.MessageDate.ToString("dd.MM.yyyy HH:mm")

                        </td>
                    </tr>
                }
            } 