
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Html.Action("MetaTag", "Common")
    @Html.Partial("_Head")

    <link rel="canonical" href="https://www.makinaturkiye.com" />
    <link rel="alternate" hreflang="tr-TR" href="@Request.Url.ToString()" />

    @RenderSection("headercontent", required: false)
</head>
<body class="facelift-v2">
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        @*"url": "https://www.makinaturkiye.com",*@
        "url": "/",
        "name": "makinaturkiye.com",
        "logo" : "https://www.makinaturkiye.com/Content/V2/images/makinaturkiye.png",
        "contactPoint": {
        "@@type": "ContactPoint",
        "telephone": "+90 212 255 7152",
        "contactType": "Customer service"
        }
        }
    </script>

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR7HZJT"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <div id="fb-root"></div>
    <div class="responsive-overlay"></div>
    @Html.Partial("_Header")

    @RenderBody()

    @Html.Action("Content", "Footer")

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '333739580327457',
                cookie: true,
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v4.0'
            });
            FB.AppEvents.logPageView();
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @*<script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function () {
                    navigator.serviceWorker.register('service-worker.js').then(function (registration) {
                        console.log('Registered!');
                    }, function (err) {
                        console.log('ServiceWorker registration failed: ', err);
                    }).catch(function (err) {
                        console.log(err);
                    });
                });
            } else {
                console.log('service worker is not supported');
            }
        </script>*@

    @*@RenderSection("layoutmainmasterscript", required: false)*@
</body>
</html>
