@using MakinaTurkiye.Core;
<!doctype html>
<html lang="tr">
<head>
    @Html.Action("MetaTag", "Common", new { area = "" })
    @Html.Partial("_Head")
    @Scripts.Render("~/js")
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800&amp;subset=latin-ext&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Content/V2/public/build/css/bundle-main.css?v=@AppSettings.CssVersiyon" />
    <link rel="stylesheet" href="@Url.Content("~/Content/V2/assets/css/autocomplete.css?v="+AppSettings.CssVersiyon)" />
    <link rel="stylesheet" href="@Url.Content("~/Content/V2/assets/css/jquery.autocomplete.css?v="+AppSettings.CssVersiyon)" />
    <script async>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TR7HZJT');
    </script>
    @RenderSection("headercontent", required: false)
    <link rel="alternate" hreflang="tr-TR" href="@Request.Url.ToString()" />
</head>
<body class="facelift-v2">

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        @*"url": "https://www.makinaturkiye.com",*@
        "url": "/",
        "name": "makinaturkiye.com",
        "logo" : "https://www.makinaturkiye.com/Content/V2/images/makinaturkiye.png",
        "contactPoint": {
        "@@type": "ContactPoint",
        "telephone": "+90 212 255 7152",
        "contactType": "Customer service"
        }
        }
    </script>
    <!-- Json Ld Ayar-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR7HZJT"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="fb-root"></div>
    <div class="responsive-overlay"></div>
    @Html.Partial("_Header")
    @RenderSection("HomePageSlider", false)
    <div class="main-container container subcontainer">
        <div class="row nomargin">
            @RenderBody()
        </div>
    </div>
    @{Html.RenderAction("Content", "Footer");}
</body>
</html>
