@inherits NeoSistem.MakinaTurkiye.Core.Web.ViewPage<NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles.MTBrandModel>

@section HeaderContent {

    @Html.RenderHtmlPartial("_HeaderContent")

}
@section StoreProfileHeaderContent {

    @if (Model.StoreActiveType == 2)
        {  
    } 
    @Html.RenderHtmlPartial("_HeaderTop",Model.MTStoreProfileHeaderModel)

}
@section StoprofileMenu {

    @if (Model.StoreActiveType == 2)
        {  
    @Html.RenderHtmlPartial("_LeftMenu", Model.MTStoreProfileHeaderModel)

    } 

}

@section StoreProfileContent {

    @if(Model.StoreActiveType==2) {
    <div class="col-sm-7 col-md-8 col-lg-9">
        <div class="StoreProfileContent" id="StoreProfileBrandNew">
            @foreach (var item in Model.StoreBrands)
                { 
            <div class="col-xs-12 col-md-12">
                <div class="thumbnail thumbnail-mt">
                    <div class="col-md-3">
                        <img src="@NeoSistem.MakinaTurkiye.Web.Models.UtilityModel.AppSettings.SiteUrl+MakinaTurkiye.Utilities.FileHelpers.FileHelper.ImageThumbnailName(AppSettings.StoreBrandImageFolder + item.BrandPicture)"
                            alt="  @item.BrandDescription" />
                    </div>
                    <div class="caption col-md-9">
                        <span>@item.BrandName</span>
                        @item.BrandDescription
                    </div>
                </div>
            </div>
             } 
            <div class="clearfix"></div>
            <!-- ./StoreProfileContent -->
        </div>
        <!-- /.col-md-5 main content -->
    </div>
    }else{ 
    @Html.Action("NoAccessStore",new{id=Model.MainPartyId})
    } 

}

