@model MTCategoryProductModel
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos

@{
    string productUrl = MakinaTurkiye.Utilities.HttpHelpers.UrlBuilder.GetProductUrl(Model.ProductId, Model.ProductName);

    string s = Model.ModelYear.ToString();
    string Marka = (!string.IsNullOrEmpty(Model.BrandName) || !string.IsNullOrEmpty(Model.BrandName)) ? Model.BrandName : "";
    string Modeli = (Model.ModelName != null) ? ("" + Model.ModelName) : "";

}
<div class="product-list-mt__item js-hover-product-item">
    <div class="product-list-mt__inner">
        <a href="@productUrl "
           title="@Model.ProductName"
           class="product-list-mt__link clearfix">
            <div class="product-list-mt__image-area">
                @if (!string.IsNullOrEmpty(Model.PicturePath))
                {
                    <img class="img-thumbnail"
                         src="@Model.PicturePath.Replace(" 160x120","200x150")"
                         alt="@Model.ProductName "
                         title="@Model.ProductName " />
                }
                else
                {
                    <img class="img-thumbnail broken-image"
                         src="/UserFiles/image-loading.png"
                         data-src="@Model.PicturePath"
                         title="@Model.ProductName"
                         alt="@Model.ProductName" />
                }
            </div>
            <span class="product-list-mt__advert-no product-list-mt__advert-no--mobile">@Model.ProductNo</span>
            <div class="product-list-mt__detail">

                <div class="product-list-mt__title-info">
                    <div class="product-list-mt__title">
                        @Model.ProductName
                    </div>
                    @if (!string.IsNullOrEmpty(Modeli) || !string.IsNullOrEmpty(Marka))
                    { 
                        <p class="product-list-mt__brand-Model">

                            @Marka | @Modeli
                        </p>
                    }

                </div>
                <p class="product-list-mt__price">

                    @if (string.IsNullOrEmpty(Model.Price) || (Model.ProductPriceType != (byte)ProductPriceType.Price && Model.ProductPriceType != (byte)ProductPriceType.PriceRange))
                    {
                        <span class="interview"></span>
                    }
                    else
                    {
                        string priceCss = "";
                        if (Model.CurrencyCss == "")
                        { priceCss = "interview"; }
                        <i itemprop="priceCurrency" class="@Model.CurrencyCss"></i>

                        if (Model.Price != "Fiyat Sorunuz")
                        {
                            <span>@Model.Price</span>
                        }
                        else
                        {
                            <span class="interview"></span>
                        }
                        if (!string.IsNullOrEmpty(Model.Price))
                        {

                            <small style="display: block; font-weight: 500; color: black; padding-left: 18px; font-size: 10px; ">@Model.KdvOrFobText</small>
                        }
                    }
                </p>
                <p class="product-list-mt__advert-no">@Model.ProductNo</p>
                <div class="product-list-mt__features">
                    @if (Model.HasVideo.HasValue && Model.HasVideo.Value)
                    {
                        <span class="product-list-mt__has-video js-has-video-link" data-url="@(productUrl + " ?tab=video")">
                            <span class="glyphicon glyphicon-facetime-video"></span>
                            Video
                        </span>
                    }

                    @if (Model.Doping.HasValue && Model.Doping.Value)
                    {
                        <span class="product-list-mt__has-doping">D</span>
                    }
                </div>
            </div>
        </a>
        <div class="product-list-mt__footer">
            <a href="@Model.StoreUrl"
               title="@Model.StoreName"
               class="product-list-mt__store"
               data-storename="@Model.StoreName"></a>
        </div>
    </div>
</div>

