@model MTProductStoreModel
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog

@{
    // Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //using NeoSistem.Trinnk.Web.Models
    //using Trinnk.Core
}

<div class="seller-box">
    @if (!string.IsNullOrEmpty(Model.StoreName))
    {

        <input id="hiddenProductNo" value="@Model.ProductNo" type="hidden" />
        <input id="hiddenMemberNo" value="@Model.MemberNo" type="hidden" />

    }
    <div class="seller-body">
        <table>
            <tr style="vertical-align: middle;">
                <td>
                    <div class="firma-logo">
                        <a href='@Model.StoreUrl' title="@Model.StoreName">
                            @if (Model.MainPartyId > 0)
                            {
                                <img src="@Model.StoreLogoPath" class="img-responsive" alt="@Model.StoreName" />

                            }
                        </a>
                    </div>
                </td>
                <td style="vertical-align: middle">
                    <a href='@Model.StoreUrl' title="@Model.StoreName">
                        <h3 class="seller-name">
                            @if (Model.MainPartyId > 0)
                            {
                                @Model.StoreShortName
                            }
                        </h3>
                    </a>
                    <p class="seller-info"><img alt="makina türkiye" style="margin-top:-3px" width="20" height="20" src="~/Content/V2/images/kurumsaluyeicon.png"/> / <span>Kurumsal Üye</span></p>
                </td>
            </tr>
        </table>

    </div>
    <div class="seller-links">
        <a href="@Model.StoreUrl">Mağazaya Git</a>
        <a href="@Model.StoreAllProductUrl">Tüm İlanlar</a>
    </div>


</div>
