@model  NeoSistem.MakinaTurkiye.Management.Models.Stores.StoreSectorModel

@section TitleContent {

    Firma Ürün İlgili Sektör

}
@section HeadContent {

    @Html.Partial("Style")
    <script src="/Scripts/MakinaTurkiye.js" type="text/javascript" defer="defer"></script>


}

    @Html.Partial("TabMenu")
    <div style="margin-top: 70px; margin-left: 10px;">

        @if (TempData["success"] != null)
            {
        
        <div style="font-size: 20px">İşlem Başarılı</div>
         } 
        @using (Html.BeginForm())
            {
        @Html.HiddenFor(x=>x.MainPartyId)
        foreach (var item in Model.SectorCategories)
            {
        <div style="float: left; width: 300px;">
            <input type="checkbox" name="SectorCategoriesForm[]" value="@item.Value" @item.Selected == true ? "checked" : "" />
            @item.Text
        </div>

          } 
        <div style="clear: both"></div>
        <div style="margin-top: 10px;">
            <input type="submit" value="Kaydet" />
        </div>
         } 
    </div>


