@model IList<MTStoreModel>
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores

@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //using NeoSistem.MakinaTurkiye.Web.Models
    //using MakinaTurkiye.Core
    Layout = null;
}

@if (Model.Count > 0)
{
    <div class="company-list-mt row clearfix nomargin ">
        @foreach (var item in Model.Where(x => x.ProductModels.Count() > 0))
        {
            <div class="col-xs-12 col-md-6 col-lg-4 clearfix">
                <div class="company-list-mt__item">

                    <div class="itemStoreName">
                        <h4 class="company-list-mt__title">
                            <a href="@item.StoreProfileUrl">
                                @if (!string.IsNullOrEmpty(item.StoreShortName))
                                {
                                    @item.StoreShortName
                                }
                                else
                                {
                                    @item.TruncateStoreName
                                }
                            </a>
                        </h4>
                    </div>
                    <hr />
                    <div class="company-list-mt__image">
                        <a href="@item.StoreProfileUrl">
                            <img src="@item.StoreLogoPath"
                                 class="img-responsive"
                                 alt="@item.StoreShowName" />
                        </a>
                    </div>

                    <div class="company-list-mt__content">
                        <p>
                            @if (!string.IsNullOrEmpty(item.FullActivityTypeName))
                            {
                                @(item.FullActivityTypeName)
                            }
                        </p>

                    </div>
                    <div>
                        <a href="@(!string.IsNullOrEmpty(item.SelectedCategoryProductUrlForStoreProfile) ? item.SelectedCategoryProductUrlForStoreProfile : item.ProductUrlForStoreProfile)"
                           class="company-list-mt__product-link">
                            <span class="glyphicon glyphicon-shopping-cart"></span>

                            &nbsp;@(!string.IsNullOrEmpty(item.SelectedCategoryContentTitle) ? item.SelectedCategoryContentTitle : "Ürünler" )
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="company-list-mt__product-gallery clearfix" >
                        @foreach (var productItem in item.ProductModels.ToList().Take(3))
                        {
                            <a class="popovers company-list-mt__product-gallery-item"  style="margin:1px;"
                               data-container="body"
                               data-original-title="@productItem.ProductName"
                               data-toggle="popover"
                               data-placement="bottom"
                               href="#mtmt"
                               data-content="<a href='@productItem.ProductUrl'><img src='@productItem.LargePicturePath' class='img-mt' title='@productItem.ProductName' alt='@productItem.ProductName' /> </a>
                               <br>
                               <br>
                               <div class='row'>
                                   <div class='col-xs-6'>
                                       Marka:@productItem.BrandName
                                       <br>
                                       Model:@productItem.ModelName
                                   </div>
                                   <div class='col-xs-6 text-right'>
                                       <div class='btn-group-vertical'>
                                           <a href='@productItem.ProductUrl' class='btn btn-sm btn-success'>İlanı İncele</a>
                                           <a href='@productItem.SimilarUrl' class='btn btn-sm btn-default'>Benzer İlanlar</a>
                                       </div>
                                   </div>
                               </div>" >
                               <img src='@productItem.SmallPicturePath' class='img-mt' title='@productItem.ProductName' alt='@productItem.ProductName' /></a>
                        }
                    </div>
                    <br />
                    <div class="company-list-mt__product-gallery clearfix">
                        @if (!string.IsNullOrEmpty(item.StoreAbout))
                        {
                            if (item.StoreAbout.Length > 175)
                            {
                                item.StoreAbout = item.StoreAbout.Substring(0, 175) + " ...";
                            }
                        }
                        @item.StoreAbout
                    </div>
                </div>
            </div>
        }
    </div>
}
