@model SearchModel<NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert.MTProductItem>
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    Layout = null;
}

@Html.Hidden("ProductNo")
@Html.Hidden("CategoryName")
@Html.Hidden("ProductName")
@Html.Hidden("BrandName")
@Html.Hidden("CurrentPage", Model.CurrentPage)
@{ string urlAdd = "";
                byte? queryProductActiveType = null;
                byte? productActiveA = null;
                if (!string.IsNullOrEmpty(Request.QueryString["ProductActiveType"]))
                {
                    queryProductActiveType = (byte)(Convert.ToByte(Request.QueryString["ProductActiveType"]));
                }
                else if (!string.IsNullOrEmpty(Request.QueryString["ProductActive"]))
                {
                    queryProductActiveType = (byte)(Convert.ToByte(Request.QueryString["ProductActive"]));
                    productActiveA = (byte)(Convert.ToByte(Request.QueryString["ProductActive"]));
                }

                if (queryProductActiveType == null)
                {
                    queryProductActiveType = (byte)(Convert.ToByte(Request.Form["ProductActiveType"]));
                }
                if (queryProductActiveType == 0)
                {
                    urlAdd = "?pageType=firstadd";
                } }
<div class="tab-pane fade in active" id="liste">
    @if (Model.Source.Count > 0)
    {

        foreach (var md in Model.Source)
        {
            string productUrl = Helpers.ProductUrl(md.ProductId, md.ProductName);
            IList<Constant> constantItems = null;

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <a href="@(productUrl+urlAdd)">
                <img class="img-thumbnail" src="@md.ImagePath" alt="@md.ProductName" />
            </a>

            @if (queryProductActiveType == (byte)ProductActiveType.Tumu)
            {
                if (md.ProductActiveType == (byte)ProductActiveType.Inceleniyor)
                {
<p><b>*İlanınız İnceleniyor</b></p> }
                        else if (queryProductActiveType == (byte)ProductActiveType.Onaylanmadi)
                        {
<p><b>*İlanınız Onaylanmadı</b></p>}
                    }
        </div>
        <div class="col-xs-9 col-md-6">
            <h4 class="media-heading">
                <a href="@(productUrl+urlAdd)">
                    @md.ProductName
                </a>&nbsp; <span class="text-sm">(@md.ProductNo) </span>
            </h4>
            <div class="row">
                <div class="text-muted col-xs-6">
                    Kategori :
                    <strong style="color: #666">@md.CategoryName</strong>
                    <br>
                    Marka :
                    <strong style="color: #666">@md.BrandName</strong>
                    <br>
                    Seri :
                    @md.SeriesName
                    <br />
                    Model Tipi :
                    <strong style="color: #666">@md.ModelName</strong>
                    <br>
                    Model Yılı :
                    @md.ModelYear
                    <br>
                    Görüntülenme Sayısı :
                    @md.ViewCount
                    <br>
                    <br />

                    Fiyatı :

                    <strong style="color: #666">



                        <span class="@(!string.IsNullOrEmpty(md.ProductPriceWithDiscount) ? "old-price":"" )">
                            <i class="@md.CurrencyCssText"></i>
                            @md.ProductPrice
                        </span>
                        @if (!string.IsNullOrEmpty(md.ProductPriceWithDiscount))
                        {
    @md.ProductPriceWithDiscount}
                    </strong>

                </div>
                <div class="text-muted col-xs-6">
                    Ürün Tipi :
                    @md.ProductTypeText
                    <br>
                    Ürün Durumu :
                    @md.ProductStatusText
                    <br>
                    Kısa Detay :
                    @md.BriefDetail
                    <br>
                    Satış Detayı :
                    @md.SalesTypeText
                    <br>

                    İl/İlçe :
                    @md.City  /  @md.Locality
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4">
            <div class="col-md-6">
                <div>
                    @if (md.ProductActiveType == (byte)ProductActiveType.Onaylandi && md.Doping != true)
                    {
<div>
    <a class="btn btn-sm  background-mt-btn" data-toggle="modal" onclick="ShowProductDoping(@md.ProductId)" data-target="#GetDopingModal" style="margin-top: 20px; margin-top: 0px; padding: 5px;">
        <i class="fa fa-arrow-circle-up" style="margin-right: 3px"></i>Doping Satın Al
    </a>
</div> }
                    else if (md.Doping == true)
                    {
<div>
    <a class="btn btn-sm btn-info" style="margin-top: 20px; padding: 5px;">
        Dopingli Ürün
    </a>
</div>}
                    <div>
                        <a class="btn btn-sm btn-info" href="/Account/ilan/ProductVideos/@md.ProductId" style="margin-top: 20px; padding: 5px;">
                            <i class="fa fa-video-camera" style="margin-right: 3px"></i>Video Ekle/Düzenle
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group-vertical">
                    @if (md.ProductActiveType == (byte)ProductActiveType.CopKutusunda)
                    {
                <a href="#" onclick="ProductUndoDelete(@md.ProductId, 'true');" class="btn btn-sm btn-default">Geri Al </a> }
            else if (md.ProductActiveType == (byte)ProductActiveType.Silindi)
            {

                <a href="#" onclick="ProductToReceyleBin(@md.ProductId);" class="btn btn-sm btn-default">Çöpe Gönder </a>
                    <a href="#" onclick="ProductUndoDelete(@md.ProductId, 'true');" class="btn btn-sm btn-default">Geri Al </a>
            }
            else
            {
               <div class="btn-group">
                        @if (queryProductActiveType == 0 && productActiveA == null)
                        {
                        <a class="btn btn-sm btn-success dropdown-toggle"
                        data-toggle="dropdown">İnceleniyor </a>
                        }
                        else
                        {
                            if (md.ProductActive)
                                {
                                    <a onclick="" class="btn btn-sm btn-success dropdown-toggle"  data-toggle="dropdown">Aktif İlan <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-mt" role="menu">
                                        <li>
                                            <a onclick="ProductActiveUpdate(@md.ProductId, 'false');">Pasif İlan </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                        <a onclick="" class="btn btn-sm btn-danger dropdown-toggle"
                                           data-toggle="dropdown">Pasif İlan <span class="caret"></span></a>
                                                                    <ul class="dropdown-menu dropdown-menu-mt" role="menu">
                                                                        <li>
                                                                            <a onclick="ProductActiveUpdate(@md.ProductId, 'true')">Aktif İlan </a>
                                                                        </li>
                                                                    </ul>
                                }
                        }
                    </div>
                    <a href="/Account/ilan/Edit/@md.ProductId?currentPage=@Model.CurrentPage" class="btn btn-sm btn-default">Düzenle </a>
                    <a data-val="@md.ProductId" class="btn btn-sm btn-default pDeleteItem">Sil</a>
                    }
                </div>

            </div>


        </div>
    </div>
    <div class="col-xs-12">
        <br />
        @if (md.ProductActiveType == (byte)ProductActiveType.Silindi)
        {
<div class="alert alert-danger">
    <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <span>
        Ürün silme talebiniz
        alınmıştır.
    </span>
</div>}

        <hr />
    </div>
</div> }
            }
            else
            {
<p class="bg-info">
    Bu bölüma ait herhangi bir ürün bulunamamıştır.
</p>}
</div>
@if (Model.Source.Count > 0)
{
<div class="row">
    <div class="col-md-5 ">
        Toplam
        @Model.TotalPages.Count()
        sayfa içerisinde
        @Model.CurrentPage .sayfayı görmektesiniz.
    </div>
    <div class="col-md-7 text-right">
        <ul class="pagination m0">
            <li><a href="#">&laquo;</a></li>
            @{Session["TotalRecord"] = Model.TotalRecord; }
            @foreach (int item in Model.TotalLinkPages)
            {
                if (Model.CurrentPage == item)
                {
<li class="active">
    <a onclick="advertPageChange(@item,@((byte)DisplayType.List),@queryProductActiveType);" href="javascript:void(0)">
        @item
    </a>
</li> }
                    else
                    {

<li data-rel="liActive" data-id="@item">
    <a onclick="advertPageChange(@item,@((byte) DisplayType.List),@queryProductActiveType);" href="javascript:void(0)">
        @item
    </a>
</li>}
                }
            @if (Model.CurrentPage < Model.TotalPages.Count())
            {

<li data-id="@(Model.CurrentPage+1)"><a onclick="advertPageChange(@(Model.CurrentPage+1),@((byte) DisplayType.List), @queryProductActiveType);" href="javascript:void(0)">>></a> </li>                }
        </ul>
    </div>
</div>}

@Html.HiddenFor(x => Model.CurrentPage, new { id = "currentPage" })
<script type="text/javascript">
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }


    function RefreshProductList() {
        advertPageChange($("#CurrentPage").val(), $("#DisplayType").val(), $("#ProductActiveType").val());
    }

    function ProductActiveUpdate(productId, active) {
        $.ajax({
            url: '/Account/ilan/ProductActiveUpdate',
            type: 'POST',
            data:
            {
                ProductId: productId,
                Active: active
            },
            success: function (data) {
                var statusText = "Aktif";
                if (active == false)
                    statusText = "Pasif";
                alert("Ürün durumu  başarıyla güncelleştirilmiştir.");
                advertPageChange($("#CurrentPage").val(), $("#DisplayType").val(), $("#ProductActiveType").val());
            },
            error: function (x, l, e) {
                alert(e.responseText);
            }
        });
    }

    function ProductToReceyleBin(productId) {
        $.ajax({
            url: '/Account/ilan/ProductToReceyleBin',
            type: 'POST',
            data:
            {
                ProductId: productId
            },
            success: function (data) {
                alert("Ürün başarıyla çöpe atılmıştır.");
                advertPageChange($("#CurrentPage").val(), $("#DisplayType").val(), $("#ProductActiveType").val());
            },
            error: function (x, l, e) {
                alert(e.responseText);
            }
        });
    }

    function ProductUndoDelete(productId, active) {
        $.ajax({
            url: '/Account/ilan/ProductUndoDelete',
            type: 'POST',
            data:
            {
                ProductId: productId,
                Active: active
            },
            success: function (data) {
                alert("Ürün başarıyla geri alınmıştır.");
                RefreshProductList();
            },
            error: function (x, l, e) {
                alert(e.responseText);
            }
        });
    }


    $(document).ready(function () {
        $('.pDeleteItem').click(function () {
            if (confirm('İlanı silmek istediğinize emin misiniz?')) {

                var currentelement = $(this);
                var obj = new Object();
                obj.ProductId = $(this).attr('data-val');
                $.ajax({
                    url: '/Account/ilan/ProductDelete',
                    type: 'POST',
                    data: obj,
                    success: function (data) {
                        currentelement.parent().parent().parent().find('.delProdConMes').show();
                        currentelement.parent().hide();

                        RefreshProductList();

                    },
                    error: function (x, l, e) {
                        alert(e.responseText);
                    }
                });
            }
        });
    })
</script>
