@model IList<PictureModel>
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    for (int i = 0; i < 1; i++)
    {
        <div class="col-xs-12 col-md-6">
            <div class="picture-list-item picture-list-item__big">
                <img id="Img2" src="@string.Format("{0}{1}/{2}", AppSettings.ProductImageFolder, Model[i].ProductId.ToString(), Model[i].PicturePath)" alt="@string.Format("resim{0}", i)" />
                <div class="picture-list-item__button">
                    <a data-rel="deleteImage" onclick="DeleteImage('@Model[i].ProductId', '@Model[i].ProductId', '@Model[i].PicturePath')" data-index="@i" class="picture-list-item__delete">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    }

    for (int i = 1; i < Model.Count; i++)
    {
        <div class="col-xs-2">
            <div class="row no-gutters clearfix">
                <div class="picture-list-item picture-list-item__small">
                    <img id="Img2" src="@string.Format("{0}{1}/{2}", AppSettings.ProductImageFolder, Model[i].ProductId.ToString(), Model[i].PicturePath)" alt="@string.Format("resim{0}", i)" />
                    <div class="picture-list-item__button">
                        <a data-rel="deleteImage" onclick="DeleteImage('@Model[i].ProductId', '@Model[i].ProductId', '@Model[i].PicturePath')" data-index="@i" class="picture-list-item__delete">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    for (int i = 1; i <= 1; i++)
    {
        <div class="col-xs-12 col-md-6">
            <div class="picture-list-item picture-list-item__big">
                <img src="@string.Format("https://dummyimage.com/200x161/efefef/000000.jpg&text=resim{0}", i)" alt="@string.Format("resim{0}", i)"/>
            </div>
        </div>
    }
    <div class="col-xs-12 col-md-6">
        @for (int i = 2; i <= 10; i++)
        {
            <div class="col-xs-2">
                <div class="row no-gutters clearfix">
                    <div class="picture-list-item picture-list-item__small">
                        <img src="@string.Format("https://dummyimage.com/200x161/efefef/000000.jpg&text=resim{0}", i)" alt="@string.Format("resim{0}", i)" />
                    </div>
                </div>
            </div>
        }
    </div>
}
