@model ProductDetailViewModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using NeoSistem.EnterpriseEntity.Extensions
@using NeoSistem.MakinaTurkiye.Web.Helpers


<div class="col-xs-12">
    <div class="panel panel-mt2">
        <div class="panel-heading p0">
            <span class="btn btn-md disabled">Benzer İlanlar </span>
            @{string url = "/" + Helpers.ToUrl(Model.ProductDetailInfo.CategoryName) + "/" + Model.ProductDetailInfo.CategoryId + "/" + Helpers.ToUrl(Model.ProductDetailInfo.CategoryName);
            }
            <a href="@url" class="label text-sm label-success">Tümünü Göster </a>


        </div>
        <div class="panel-body ptb0">
            <div class="tab-content">

                <ul class="top-seller-list__items">
                    @{
                        int categoryid = Convert.ToInt32(Model.ProductDetailInfo.CategoryId);
                        MakinaTurkiyeEntities entiti = new MakinaTurkiyeEntities();
                        var parameter = new System.Data.Objects.ObjectParameter("TotalRecord", typeof(int));
                        int PageDimension = 12;
                        int CurrentPage = 1;
                        var sorgu = entiti.spProductWebSearchMostViewDate(parameter, PageDimension, CurrentPage, 15, categoryid).ToList();
                        int productCount = 0;
                    }
                    @foreach (var item in sorgu)
                    {
                        MakinaTurkiyeEntities entities = new MakinaTurkiyeEntities();
                        var model2 = (from c in entities.Products
                                      where c.ProductId == item.ProductId
                                      select c.Currency.CurrencyName).FirstOrDefault();

                        string tutar = "";
                        string kusurat = string.Empty;

                        if (item.ProductPrice != null)
                        {
                            decimal sayi = (decimal)item.ProductPrice;
                            string tutarson = sayi.ToString("0.00");
                            string[] parcali = tutarson.Split(',');

                            try
                            {
                                if (tutarson.IndexOf('.') > -1)
                                {
                                    parcali = tutarson.Split('.');
                                }
                                tutar = parcali[0];
                                kusurat = parcali[1];

                            }
                            catch (Exception)
                            {


                            }
                        }
                        if (item.ProductPrice != null)
                        {
                            if (tutar != "0,00" && model2 != null)
                            {
                                //var phone=from c in entities.Phones
                                ViewData["dov"] = tutar + " " + model2.ToString();
                            }

                        }
                        string productUrl = Helpers.ProductUrl(item.ProductId, item.ProductName);



                        <li class="top-seller-list__item clearfix">
                            <a href="@productUrl">
                                <span class="top-seller-list__ranking">@(productCount + 1)</span>
                                <div class="top-seller-list__image">

                                    @{
                                        Dictionary<string, object> imageHtmlAtturbiteTwo = new Dictionary<string, object>();
                                        imageHtmlAtturbiteTwo.Add("alt", Html.Truncate(item.MainPicture, 80));
                                        //imageHtmlAtturbiteTwo.Add("class", "img-mt2");
                                        imageHtmlAtturbiteTwo.Add("title", Html.Truncate(item.MainPicture, 80));
                                    }
                                    @if (!string.IsNullOrEmpty(Html.GetProductImage(item.ProductId, item.MainPicture, NeoSistem.MakinaTurkiye.Web.Helpers.ImageHelpers.ImageSize.px160x120, imageHtmlAtturbiteTwo).ToString()))
                                    {

                                        @Html.GetProductImage(item.ProductId, item.MainPicture, NeoSistem.MakinaTurkiye.Web.Helpers.ImageHelpers.ImageSize.px160x120, imageHtmlAtturbiteTwo)

                                    }
                                    else
                                    {

                                        <img src="https://dummyimage.com/200x150/efefef/000000.jpg&text=urun%20resmi%20bulunamad%C4%B1" alt="@Html.Truncate(item.ProductName, 80)" title="@Html.Truncate(item.ProductName, 80)" />

                                    }

                                </div>
                                <div class="top-seller-list__item-product-info">
                                    <div class="top-seller-list__item-product-title">@Html.Truncate(item.ProductName, 500)</div>
                                    <p class="top-seller-list__item-product-brand">Marka : <strong> @Html.Truncate(item.BrandName, 500)</strong> Model : <strong> @Html.Truncate(item.ModelName, 500) </strong></p>
                                    <p class="top-seller-list__item-product-price">
                                        @if (tutar != "0")
                                        {
                                            string currencyType = model2;
                                            if (currencyType == "USD")
                                            {
                                                <i itemprop="priceCurrency" class="fa fa-usd"></i>
                                            }
                                            else if (currencyType == "EUR")
                                            {
                                                <i itemprop="priceCurrency" class="fa fa-eur"></i>
                                            }
                                            else if (currencyType == "JPY")
                                            {
                                                <i itemprop="priceCurrency" class="fa fa-jpy"></i>
                                            }
                                            else
                                            {
                                                <i itemprop="priceCurrency" class="fa fa-turkish-lira"></i>
                                            }

                                            string yaz = "";
                                            int v = Convert.ToInt32(tutar);
                                            if (v > 0 && v < 10)
                                            {
                                                yaz = v.ToString();
                                            }
                                            else
                                            {
                                                yaz = string.Format("{0:0,0}", v).Replace(",", ".");
                                            }
                                            @yaz
                                        }
                                        else
                                        {
                                            <span class="interview">Fiyat Sorunuz</span>
                                        }
                                    </p>
                                </div>
                                <p class="top-seller-list__item-product-price">
                                    @if (tutar != "0")
                                    {
                                        string currencyTypeClone = model2;
                                        if (currencyTypeClone == "USD")
                                        {
                                            <i itemprop="priceCurrency" class="fa fa-usd"></i>
                                        }
                                        else if (currencyTypeClone == "EUR")
                                        {
                                            <i itemprop="priceCurrency" class="fa fa-eur"></i>
                                        }
                                        else if (currencyTypeClone == "JPY")
                                        {
                                            <i itemprop="priceCurrency" class="fa fa-jpy"></i>
                                        }
                                        else
                                        {
                                            <i itemprop="priceCurrency" class="fa fa-turkish-lira"></i>
                                        }
                                        string yaz = "";
                                        int v = Convert.ToInt32(tutar);
                                        if (v > 0 && v < 10)
                                        {
                                            yaz = v.ToString();
                                        }
                                        else
                                        {
                                            yaz = string.Format("{0:0,0}", v).Replace(",", ".");
                                        }
                                        @yaz
                                    }
                                    else
                                    {
                                        <span class="interview">Fiyat Sorunuz</span>
                                    }
                                </p>
                            </a>
                        </li>

                        productCount += 1;
                    }
                </ul>




            </div>
        </div>
    </div>
</div>
