@model NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.StoreNews.MTCreateStoreNewForm
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.FavoriteProducts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Checkouts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.OtherSettings
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Constants

@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}

@section headercontent{
    <script type="text/javascript" src="/Content/v2/assets/js/CKEditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Scripts/CKFinder/ckfinder.js"></script>
    <script type="text/javascript">
        function Validation() {
            var content = CKEDITOR.instances['Content'].getData();
            if (content.length > 160) {
                return true;
            }
            else {
                alert("Lütfen haber içeriğini 150 karakterden fazla giriniz")
                return false;
            }

        }
    </script>
}

<div class="row">
    <div class="col-sm-12 col-md-12 store-panel-menu-header" style="margin-top: -20px; height: 60px;">
        @Html.Partial("LeftMenu", Model.LeftMenu)
    </div>
    <div class="col-md-12">
        <h4 class="mt0 text-info">
            @Model.PageTitle  Düzenle
        </h4>
    </div>
</div>
<div class="row">

    <div class="col-sm-12 col-md-12">
        <div class="well  col-xs-12" style="background: #fff;">
            <div class="col-md-2" style="margin-bottom: 10px;">
                <a href="/account/storenew/index?newType=@(Model.NewType )" class="btn btn-info">Tümünü Gör <i class="fa  fa-list"></i></a>
            </div>
            <div class="col-md-12">
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @Model.PageTitle düzenlenmişir. En kısa sürede editörlerimiz tarafından incelenip onaylandıktan sonra aktif olacaktır.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                }
                @using (Html.BeginForm("Update", "StoreNew", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.StoreNewId)
                    @Html.HiddenFor(x => x.NewType)
                    @Html.HiddenFor(x => x.StoreMainPartyId)
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Fotoğraf</label>
                            <input type="file" name="image" />
                            <br />
                            <img src="@Model.ImagePath" class="img-responsive" />
                        </div>

                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            <label>Başlık</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                            <p style="color: #ff0000">@Html.ValidationMessageFor(x => x.Title)</p>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            <label>İçerik</label>
                            @Html.TextAreaFor(x => x.Content, new { style = "width:640px; height:355px;" })
                            <p style="color: #ff0000">@Html.ValidationMessageFor(x => x.Content)</p>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-3">
                            <button class="btn btn-success" onclick="return Validation();">Kaydet</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" defer="defer">
    var editor = CKEDITOR.replace('Content', { toolbar: 'webtool' });
    CKFinder.SetupCKEditor(editor, '/Scripts/CKFinder/');
</script>
