@using MakinaTurkiye.Core.Infrastructure;
@using MakinaTurkiye.Core;
<!doctype html>
<html lang="tr">
<head>
    <title>
        @RenderSection("TitleContent", required: false)
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    @Styles.Render("~/css")
    @Scripts.Render("~/js-system")
    @RenderSection("HeadContent", required: false)
</head>
<body unselectable="on">
    @Html.Partial("Header")
    <div class="ContentTopSep">
    </div>
    <div class="Content">
        @*<div id="callcenterpanel">
                <div>
                    <h3 class="callcenterheader">Call Center</h3>
                    <hr />
                    <iframe src="@NeoSistem.MakinaTurkiye.Management.Models.Authentication.CurrentUserModel.CurrentManagement.CallCenterUrl" style="border:none;" title="CallCenter Terminal">
                    </iframe>
                </div>
            </div>*@
        @RenderBody()
    </div>
    @Scripts.Render("~/js-vendor")
    <script type="text/javascript">
        var resizeHeight = 132;
        var numberGetNot = 0;
        var countNot = 0;
        var lastCountNot = 0;
        function resizeContent() {
            $('.Content').height($(window).height() - resizeHeight);
        }
        setInterval('resizeContent()', 100);
        //$(document).ready(function () {
        //    numberGetNot = 0;
        //    lastCountNot = 0;
        //    countNot = 0;
        //    GetSeoNotification();
        //    $("button").button();
        //    GetNotification();
        //    GetNotSpecialForUser();
        //    //setInterval(GetNotification, 400000);
        //});
        //function GetNotSpecialForUser() {
        //    $.ajax({
        //        url: '/MemberDescription/getNotification1',
        //        type: 'post',
        //        data: {},
        //        success: function (data) {
        //            $("#notification1").html("<font style='color:#ed1818; font-weight:600'>" + data + "</font> Bildirim");

        //        },
        //        error: function (x) {
        //            $('#preLoading').hide();
        //            //$('#table').html(x.responseText);
        //        }
        //    });
        //}
        //function GetNotification() {
        //    numberGetNot = numberGetNot + 1;
        //    $.ajax({
        //        url: '/MemberDescription/getNotification',
        //        type: 'post',
        //        data: {},
        //        success: function (data) {
        //            $("#notification").html("<font style='color:#ed1818; font-weight:600'>" + data.count + " Genel </font> Bildirim");
        //            countNot = data.count;
        //            if (numberGetNot > 1) {
        //                if (parseInt(data.count) > lastCountNot) {
        //                    $("#newNot").html(data.count - lastCountNot + " yeni bildirim");
        //                    $("#newNot").slideDown();
        //                }
        //            }
        //            lastCountNot = countNot;
        //        },
        //        error: function (x) {
        //            $('#preLoading').hide();
        //            //$('#table').html(x.responseText);
        //        }
        //    });
        //}
        //function GetSeoNotification() {
        //    $.ajax({
        //        url: '/StoreSeoNotification/GetCountSeoNotification',
        //        type: 'get',
        //        data: {},
        //        success: function (data) {
        //            if (data != false) {
        //                $("#notSeo").html("<span style='color:red'>" + data.Count + " </span> seo bildirim");
        //            }

        //        },
        //        error: function (x) {
        //            $('#preLoading').hide();
        //            //$('#table').html(x.responseText);
        //        }
        //    });
        //}
    </script>
</body>
</html>


