@model MTProductDopingModel
@using NeoSistem.Trinnk.Web.Areas.Account.Models
@using NeoSistem.Trinnk.Web.Models
@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores
@using NeoSistem.Trinnk.Core.Web
@using NeoSistem.Trinnk.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.Trinnk.Web.Models.StoreProfiles
@using NeoSistem.Trinnk.Web.Models.Videos
@using NeoSistem.Trinnk.Web.Areas.Account.Models.Advert
@using NeoSistem.Trinnk.Web.Areas.Account.Models.Catologs
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";
}

<div class="modal-content">
    <div class="modal-header" style="height: 60px; border: 0px!important;">
        <h3 class="modal-title" style="float: left;" id="exampleModalLabel">Doping Satın Al!</h3>
        <button type="button" style="float: right;" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @{ float dayPrice = (float)(Model.ProductDopingPricePerMonth / 30);
        }
        <div class="alert alert-info">
            <i class="fa fa-3x fa-bullhorn pull-left"></i>
            <b><span style="font-size: 17px">@dayPrice.ToString("C2")</span> günlük ücret ile, </b>
            trinnk.com'da ilanınız kategorilerde ilk sıralara çıkarılır ve ilanlarınız daha fazla kişi tarafından görüntülenerek alıcısına çok daha hızlı bir şekilde ulaşır.
        </div>
        <form action="/MemberShipSales/PayWithCreditCard" method="get">

            @Html.HiddenFor(x=>Model.ProductId)
            @Html.Hidden("DayPrice", dayPrice.ToString())
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3">Ürün Adı</label>
                    <div class="col-md-9">@Model.ProductName</div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 contorl-label">Kategori Adı:</label>
                    <div class="col-md-9">
                        <b>@Html.Raw(Model.CategoryName)</b>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 contorl-label">Süre:</label>
                    <div class="col-md-9">
                        <select class="form-control" name="PacketId" onchange="PriceChange();" id="PacketId">
                            @foreach (var item in Model.Packets)
                            {
                                <option value="@item.Value">@item.Text  Gün</option>
                            }
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div id="errorMessageDay" class="col-md-9" style="color: #b40505; font-size: 14px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 contorl-label">Fiyat</label>
                    <div class="col-md-9">
                        <b id="Price" style="font-size: 16px;">@Html.Raw(Model.ProductDopingPricePerMonth.ToString("C2"))</b>
                    </div>
                </div>
                <div class="form-group">
                    <div style="float: right; margin-right: 15px;">
                        <button type="submit" id="buttonPay" onclick="if(!TakeProductDoping())return false;" class="btn background-mt-btn btn-block btn-bg">Satın Al <span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function PriceChange() {
        var packetId = $("#PacketId").val();

        $.ajax({
            url: '/Account/ilan/GetDopingPrice',
            type: 'get',
            data:
            {
                PacketId: packetId,


            },
            success: function (data) {
                $("#Price").html(data);
            },
            error: function (x, l, e) {
                alert(e.responseText);
            }
        });
    }
    function TakeProductDoping() {

        var dopingDay = $("#DopingDay").val();
        var dayPrice = $("#ProductDopingPricePerMonth").val();

        if (dopingDay != "0") {

            return true;
        }
        else {
            $("#errorMessageDay").html("Lütfen Doping Süresini Seçiniz*");
            $("#errorMessageDay").show();
            return false;
        }

    }
</script>
