@model SearchModel<NeoSistem.Trinnk.Web.Models.ProductModel>
@using NeoSistem.Trinnk.Web.Areas.Account.Models
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores
@using NeoSistem.Trinnk.Core.Web
@using NeoSistem.Trinnk.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.Trinnk.Web.Models.StoreProfiles
@using NeoSistem.Trinnk.Web.Models.Videos
@{
    Layout = null;
}
<div class="tab-pane fade in active" id="liste">
    @{
        if (Model.Source.Count > 0)
        {
            foreach (NeoSistem.Trinnk.Web.Models.ProductModel modelItem in Model.Source)
            {
                string productUrl = Helpers.ProductUrl(modelItem.ProductId, modelItem.ProductName);
                List<Constant> constantItems = null;
                using (var entities = new TrinnkEntities())
                {
                    constantItems = entities.Constants.ToList();
                }

                string productType = "";
                foreach (var item in constantItems.Where(c => c.ConstantType == (byte)ConstantType.ProductType))
                {
                    if (modelItem.ProductType != null)
                    {
                        for (int i = 0; i < modelItem.ProductType.Split(',').Length; i++)
                        {
                            if (item.ConstantId == Convert.ToInt32(modelItem.ProductType.Split(',').GetValue(i)))
                            {
                                productType = productType + " " + item.ConstantName;
                            }
                        }
                    }
                }

                string productStatu = "";
                foreach (var item in constantItems.Where(c => c.ConstantType == (byte)ConstantType.ProductStatu))
                {
                    if (modelItem.ProductStatu != null)
                    {
                        for (int i = 0; i < modelItem.ProductStatu.Split(',').Length; i++)
                        {
                            if (item.ConstantId == Convert.ToInt32(modelItem.ProductStatu.Split(',').GetValue(i)))
                            {
                                productStatu = productStatu + " " + item.ConstantName;
                            }
                        }
                    }
                }

                string briefDetail = "";
                foreach (var item in constantItems.Where(c => c.ConstantType == (byte)ConstantType.ProductBriefDetail))
                {
                    if (!string.IsNullOrEmpty(modelItem.BriefDetail))
                    {
                        for (int i = 0; i < modelItem.BriefDetail.Split(',').Length; i++)
                        {
                            if (item.ConstantId == Convert.ToInt32(modelItem.BriefDetail.Split(',').GetValue(i)))
                            {
                                if (string.IsNullOrWhiteSpace(briefDetail))
                                {
                                    briefDetail = item.ConstantName;
                                }
                                else
                                {
                                    briefDetail = briefDetail + " - " + item.ConstantName;
                                }
                            }
                        }
                    }
                }

                string salesTypeName = "";
                if (modelItem.ProductSalesType.Contains(","))
                {
                    foreach (var item in constantItems.Where(c => c.ConstantType == (byte)ConstantType.ProductSalesType))
                    {
                        for (int i = 0; i < modelItem.ProductSalesType.Split(',').Length; i++)
                        {
                            if (item.ConstantId == Convert.ToInt32(modelItem.ProductSalesType.Split(',').GetValue(i)))
                            {
                                if (string.IsNullOrWhiteSpace(salesTypeName))
                                {
                                    salesTypeName = item.ConstantName;
                                }
                                else
                                {
                                    salesTypeName = salesTypeName + " - " + item.ConstantName;
                                }
                            }
                        }
                    }

                }

                <div class="row">
                                    <div class="hidden-xs hidden-sm col-md-3">
                                        @{
                                            System.Collections.Generic.Dictionary<string, object> imageHtmlAtturbite = new System.Collections.Generic.Dictionary<string, object>();
                                            imageHtmlAtturbite.Add("alt", @Html.Truncate(modelItem.ProductName, 80));
                                            imageHtmlAtturbite.Add("class", "img-thumbnail");
                                            imageHtmlAtturbite.Add("title", @Html.Truncate(modelItem.ProductName, 80));
                                        }
                                        @if (!string.IsNullOrEmpty(Html.GetProductImage(modelItem.ProductId, modelItem.MainPicture, NeoSistem.Trinnk.Web.Helpers.ImageHelpers.ImageSize.px400x300, imageHtmlAtturbite).ToString()))
                                        {
                                            <a href="@productUrl">

                                                @Html.GetProductImage(modelItem.ProductId, modelItem.MainPicture, NeoSistem.Trinnk.Web.Helpers.ImageHelpers.ImageSize.px400x300, imageHtmlAtturbite)

                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@productUrl">

                                                <img class="img-thumbnail" src="https://dummyimage.com/400x300/efefef/000000.jpg&text=%C3%9Cr%C3%BCn%20Resmi%20Haz%C4%B1rlan%C4%B1yor"
                                                     alt="@modelItem.ProductName" title="@modelItem.ProductName" />
                                            </a>
                                            }
                                        </div>
                                        <div class="col-xs-9 col-md-7">
                                            <h4 class="media-heading">
                                                <a href="@productUrl">
                                                    @modelItem.ProductName
                                                </a>&nbsp; <span class="text-sm">(@modelItem.ProductNo) </span>
                                            </h4>
                                            <div class="row">
                                                <div class="text-muted col-xs-6">
                                                    Kategori :
                                                    @modelItem.CategoryName
                                                    <br>
                                                    Marka :
                                                    @modelItem.BrandName
                                                    <br>
                                                    Seri :
                                                    @modelItem.SeriesName
                                                    <br />
                                                    Model Tipi :
                                                    @modelItem.ModelName
                                                    <br>
                                                    Model Yılı :
                                                    @modelItem.ModelYear
                                                    <br>
                                                    Görüntülenme Sayısı :
                                                    @modelItem.ViewCount
                                                    <br>
                                                    <br />
                                                    Fiyatı :
                                                    @if (modelItem.ProductPriceType == (byte)ProductPriceType.PriceRange || modelItem.ProductPriceType == (byte)ProductPriceType.Price)
                                                    {

                                                        if (modelItem.CurrencyId == 2)
                                                        {
                                                            <i id="currency@(modelItem.ProductId)" class="fa fa-usd"></i>
                                                        }
                                                        else if (modelItem.CurrencyId == 3)
                                                        {
                                                            <i class="fa fa-eur"></i>
                                                        }
                                                        else if (modelItem.CurrencyId == 4)
                                                        {
                                                            <i class="fa fa-jpy"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-turkish-lira"></i>
                                                        }
                                                        if (modelItem.ProductPriceType == (byte)ProductPriceType.Price)
                                                        {
                                                            <span style="background-color: #ffffff; border: 1px solid #e1e1e1; padding: 10px;" id="PriceValue@(modelItem.ProductId)">
                                                                <span id="priceDisplay@(modelItem.ProductId )">
                                                                    @modelItem.ProductPrice.GetValueOrDefault(0).ToString("N2")
                                                                </span>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span style="background-color: #ffffff; border: 1px solid #e1e1e1; padding: 10px;">
                                                                    @modelItem.ProductPriceBegin.GetValueOrDefault(0).ToString("N2") - @modelItem.ProductPriceLast.GetValueOrDefault(0).ToString("N2") <a href = "/Account/Advert/Edit/@(modelItem.ProductId)?currentPage=@(Model.CurrentPage)">
                                                                    <i style = "color: #333" class="glyphicon glyphicon-pencil"></i>
                                                                    </a>
                                                            </span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (modelItem.ProductPriceType == (byte)ProductPriceType.PriceAsk)
                                                        {
                                                            <span style="background-color: #ffffff; border: 1px solid #e1e1e1; padding: 10px;">Sorunuz  <a href="/Account/Advert/Edit/@(modelItem.ProductId)?currentPage=@(Model.CurrentPage)"><i style="margin-left: 10px; color: #333" class="glyphicon glyphicon-pencil"></i></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span style="background-color: #ffffff; border: 1px solid #e1e1e1; padding: 10px;">
                                                                Görüşülür   <a href="/Account/Advert/Edit/@(modelItem.ProductId)?currentPage=@(Model.CurrentPage)"><i style="margin-left: 10px; color: #333" class="glyphicon glyphicon-pencil"></i></a>
                                                            </span>
                                                        }
                                                    }
                                                </div>
                                                <div class="text-muted col-xs-6">
                                                    Ürün Tipi :
                                                    @productType
                                                    <br>
                                                    Ürün Durumu :
                                                    @productStatu
                                                    <br>
                                                    Kısa Detay :
                                                    @briefDetail
                                                    <br>
                                                    Satış Detayı :
                                                    @salesTypeName
                                                    <br>
                                                    İlan Bitiş Tarihi :
                                                    @modelItem.ProductAdvertEndDate.ToString("dd.MM.yyyy")
                                                    <br>
                                                    İl/İlçe :
                                                    @modelItem.CityName  / @modelItem.LocalityName
                                                </div>
                                            </div>
                </div>
                                        <div class="col-xs-3 col-md-2">
                                            <div class="btn-group-vertical">
                                                @if (modelItem.ProductActiveType == (byte)ProductActiveType.CopKutusunda)
                                                {
                                                }
                                                else if (modelItem.ProductActiveType == (byte)ProductActiveType.Silindi)
                                                {

                                                    <a href="#" onclick="ProductToReceyleBin(@modelItem.ProductId);" class="btn btn-sm btn-default">Çöpe Gönder </a>
                                                    <a href="#" onclick="ProductUndoDelete(@modelItem.ProductId, 'true');" class="btn btn-sm btn-default">Geri Al </a>
                                                }
                                                else
                                                {
                                                    <div class="btn-group">

                                                        @if (modelItem.ProductActive)
                                                        {
                                                            <a onclick="" class="btn btn-sm btn-success dropdown-toggle"
                                                               data-toggle="dropdown">Aktif İlan <span class="caret"></span></a>
                                                            <ul class="dropdown-menu dropdown-menu-mt" role="menu">
                                                                <li>
                                                                    <a onclick="ProductActiveUpdate(@modelItem.ProductId, 'false');">Pasif İlan </a>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <a onclick="" class="btn btn-sm btn-danger dropdown-toggle"
                                                               data-toggle="dropdown">Pasif İlan <span class="caret"></span></a>
                                                            <ul class="dropdown-menu dropdown-menu-mt" role="menu">
                                                                <li>
                                                                    <a onclick="ProductActiveUpdate(@modelItem.ProductId, 'true');">Aktif İlan </a>
                                                                </li>
                                                            </ul>
                                                        }
                                                    </div>
                                                    <a href="/Account/Advert/Edit/@modelItem.ProductId?currentPage=@Model.CurrentPage" class="btn btn-sm btn-default">Düzenle </a>
                                                    <a data-val="@modelItem.ProductId" class="btn btn-sm btn-default pDeleteItem">Sil</a>
                                                }
                                            </div>
                                            <div>
                                                @if (modelItem.ProductActiveType == (byte)ProductActiveType.Onaylandi && modelItem.Doping != true)
                                                {
                                                        <a class="btn btn-sm  background-mt-btn" data-toggle="modal" onclick="ShowProductDoping(@modelItem.ProductId)" data-target="#GetDopingModal" style="margin-top:20px; padding:5px;">
                                                        <i class="fa fa-arrow-circle-up"></i>  Dopingle
                                                        </a>
                                                    }
                                                    else if (modelItem.Doping == true)
                                                    {
                                                        <a class="btn btn-sm btn-info" style="margin-top: 20px; padding:5px;">
                                                            Dopingli Ürün
                                                        </a>
                                                    }
                                        </div>
                                    </div>
                                        <div class="col-xs-12">
                                            <br />
                                            @if (modelItem.ProductActiveType == (byte)ProductActiveType.Silindi)
                                            {
                                                <div class="alert alert-danger">
                                                    <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <span>
                                                        Ürün silme talebiniz
                                                        alınmıştır.
                                                    </span>
                                                </div>
                                            }

                                            <hr />
                                        </div>
                </div>
            }
        }
        else
        {
        <p class="bg-info">
            Bu bölüma ait herhangi bir ürün bulunamamıştır.
        </p>
        }
    }
</div>
<script type="text/javascript">
                        function getUrlVars() {
                            var vars = [], hash;
                            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                            for (var i = 0; i < hashes.length; i++) {
                                hash = hashes[i].split('=');
                                vars.push(hash[0]);
                                vars[hash[0]] = hash[1];
                            }
                            return vars;
                        }


                        function ProductActiveUpdate(productId, active) {
                            $.ajax({
                                url: '/Account/ilan/ProductActiveUpdate',
                                type: 'POST',
                                data:
                                {
                                    ProductId: productId,
                                    Active: active
                                },
                                success: function (data) {
                                    var statusText = "Aktif";
                                    if (active == false)
                                        statusText = "Pasif";

                                    alert("Ürün durumu " + statusText + " başarıyla güncelleştirilmiştir.");
                                    currentelement.parent().parent().parent().find('.delProdConMes').show();
                                    currentelement.parent().hide();


                                },
                                error: function (x, l, e) {
                                    alert(e.responseText);

                                }
                            });
                        }

                        function ProductToReceyleBin(productId) {
                            $.ajax({
                                url: '/Account/ilan/ProductToReceyleBin',
                                type: 'POST',
                                data:
                                {
                                    ProductId: productId
                                },
                                success: function (data) {
                                    alert("Ürün başarıyla çöpe atılmıştır.");

                                },
                                error: function (x, l, e) {
                                    alert(e.responseText);
                                }
                            });
                        }

                        function ProductUndoDelete(productId, active) {
                            $.ajax({
                                url: '/Account/ilan/ProductUndoDelete',
                                type: 'POST',
                                data:
                                {
                                    ProductId: productId,
                                    Active: active
                                },
                                success: function (data) {
                                    alert("Ürün başarıyla geri alınmıştır.");

                                },
                                error: function (x, l, e) {
                                    alert(e.responseText);
                                }
                            });
                        }
                        function ProductDelete(productId) {
                            $.ajax({
                                url: '/Account/ilan/ProductDelete',
                                type: 'POST',
                                data:
                                {
                                    ProductId: productId
                                },
                                success: function (data) {
                                    //alert("Ürün silme talebiniz alınmıştır.Onaylandığı taktirde ürününüz silinecetir.");
                                    return true;
                                },
                                error: function (x, l, e) {
                                    alert(e.responseText);
                                    return false;
                                }
                            });
                        }

                        $(document).ready(function () {
                            $('.pDeleteItem').click(function () {
                                if (confirm('İlanı silmek istediğinize emin misiniz?')) {

                                    var currentelement = $(this);
                                    var obj = new Object();
                                    obj.ProductId = $(this).attr('data-val');
                                    $.ajax({
                                        url: '/Account/ilan/ProductDelete',
                                        type: 'POST',
                                        data: obj,
                                        success: function (data) {
                                            currentelement.parent().parent().parent().find('.delProdConMes').show();
                                            currentelement.parent().hide();



                                        },
                                        error: function (x, l, e) {
                                            alert(e.responseText);
                                        }
                                    });
                                }
                            });
                        })
                    </script>

