@model IList<PictureModel>
@using Trinnk.Core
@using NeoSistem.Trinnk.Web.Areas.Account.Models
@using NeoSistem.Trinnk.Web.Models
@using Trinnk.Core
@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores
@using NeoSistem.Trinnk.Core.Web
@using NeoSistem.Trinnk.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.Trinnk.Web.Models.StoreProfiles
@using NeoSistem.Trinnk.Web.Models.Videos
@using NeoSistem.Trinnk.Web.Models.Adverts
@using Trinnk.Entities.Tables.Catalog
@using NeoSistem.Trinnk.Web.Areas.Account.Models.Advert
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    for (int i = 0; i < 1; i++)
    {
        <div class="col-xs-12 col-md-6">
            <div class="picture-list-item picture-list-item__big">
                <img id="Img2" src="@string.Format("{0}{1}/{2}", AppSettings.ProductImageFolder, Model[i].ProductId.ToString(), Model[i].PicturePath)" alt="@string.Format("resim{0}", i)" />
                <div class="picture-list-item__button">
                    <a data-rel="deleteImage" onclick="DeleteImage('@Model[i].ProductId', '@Model[i].ProductId', '@Model[i].PicturePath')" data-index="@i" class="picture-list-item__delete">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    }

    for (int i = 1; i < Model.Count; i++)
    {
        <div class="col-xs-2">
            <div class="row no-gutters clearfix">
                <div class="picture-list-item picture-list-item__small">
                    <img id="Img2" src="@string.Format("{0}{1}/{2}", AppSettings.ProductImageFolder, Model[i].ProductId.ToString(), Model[i].PicturePath)" alt="@string.Format("resim{0}", i)" />
                    <div class="picture-list-item__button">
                        <a data-rel="deleteImage" onclick="DeleteImage('@Model[i].ProductId', '@Model[i].ProductId', '@Model[i].PicturePath')" data-index="@i" class="picture-list-item__delete">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </a>
                        <a onclick="mainImage('@Model[i].ProductId','@Model[i].PicturePath')" data-index="@i" style="cursor: pointer" class="picture-list-item__main-image">Ana Resim Seç</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    for (int i = 1; i <= 1; i++)
    {
        <div class="col-xs-12 col-md-6">
            <div class="picture-list-item picture-list-item__big">
                <img src="@string.Format("https://dummyimage.com/200x161/efefef/000000.jpg&text=resim{0}", i)" alt="@string.Format("resim{0}", i)" />
            </div>
        </div>
    }
    <div class="col-xs-12 col-md-6">
        @for (int i = 2; i <= 10; i++)
        {
            <div class="col-xs-2">
                <div class="row no-gutters clearfix">
                    <div class="picture-list-item picture-list-item__small">
                        <img src="@string.Format("https://dummyimage.com/200x161/efefef/000000.jpg&text=resim{0}", i)" alt="@string.Format("resim{0}", i)" />
                    </div>
                </div>
            </div>
        }
    </div>
}

<script>

    $(document).ready(function () {
        $('[data-rel="deleteImage"]').click(function () {
            var productId = $(this).attr('data-productid');
            var picturePath = $(this).attr('data-picturepath');
            //DeleteImage(productId, productId, picturePath);
        });

        $('[data-rel="mainImage"]').click(function () {
            var productId = $(this).attr('data-productid');
            var picturePath = $(this).attr('data-picturepath');
            //mainImage(productId, picturePath);
        });

        $('[data-rel="form-submit"]').removeClass('disabled');
    });

    function mainImage(productID, picturePath) {
        $.ajax({
            url: '/Account/ilan/mainImage',
            type: 'post',
            data: { productID: productID, picturePath: picturePath },
            success: function (data) {
                $('#divPictureList .row').html(data);
            },
            error: function (x, l, e) {
                alert(x.responseText);
            }
        });
    }

    function DeleteImage(index, productID, picturePath) {
        $.ajax({
            url: '/Account/ilan/DeleteImage',
            type: 'post',
            data: { index: index, productID: productID, picturePath: picturePath, horizontal: false },
            success: function (data) {
                $('#divPictureList .row').html(data);
            },
            error: function (x, l, e) {
                // alert(x.responseText);
            }
        });
    }

    function DeletePicture(id) {
        $.ajax({
            url: '/Account/Advert/DeletePicture',
            type: 'post',
            data: { index: id, horizontal: false },
            success: function (data) {
                $('#divPictureList .row').html(data);
            },
            error: function (x, l, e) {
                // alert(x.responseText);
            }
        });
    }

    function nextStatu(e) {
        $('#loaderDiv').show();
    }

    $(document).on('invalid-form.validate', 'form', function () {
        $('[data-rel="form-submit"]').removeClass('disabled');
    });

    $(document).on('submit', 'form', function () {
        $('[data-rel="form-submit"]').addClass('disabled');
    });

    $('.file-input-advanced').fileinput({
        browseLabel: 'Dosyadan Seç',
        browseClass: 'btn btn-primary',
        removeLabel: '',
        uploadLabel: '',
        language: "tr",
        dropZoneEnabled: true,
        maxFileCount: 20,
        allowedFileExtensions: ["jpg", "gif", "png", "jpeg"],
        showDrag: true,
        browseIcon: '<i class="glyphicon glyphicon-plus position-left"></i> ',
        uploadClass: 'btn btn-primary btn-icon',
        uploadIcon: '<i class="icon-file-upload"></i> ',
        removeClass: 'btn btn-danger btn-icon',
        removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
        initialCaption: "Dosya Seçilmedi",
        layoutTemplates: {
            caption: '<div tabindex="-1" class="form-control file-caption {class}">\n' + '<span class="icon-file-plus kv-caption-icon"></span><div class="file-caption-name"></div>\n' + '</div>',
            main1: "{preview}" +
                "<div class='input-group {class}'>\n" +
                "   <div class='input-group-btn'>\n" +
                "       {browse}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "   <div class='input-group-btn'>\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "</div>"
        }
    });

</script>
