@model MakinaTurkiye.Entities.Tables.Stores.StoreChangeHistory


@section TitleContent {

    Firma Bilgileri Değişikliği

}
@section HeadContent {

    @*<link rel="stylesheet" href="/Scripts/SuperBox/jquery.superbox.css" type="text/css" media="all" />*@
    @*<script type="text/javascript" src="~/Content/Scripts/SuperBox/jquery.superbox.js"></script>*@
    <style type="text/css">
        /* Custom Theme */
        #superbox-overlay {
            background: #e0e4cc;
        }

        #superbox-container .loading {
            width: 32px;
            height: 32px;
            margin: 0 auto;
            text-indent: -9999px;
            background: url(styles/loader.gif) no-repeat 0 0;
        }

        #superbox .close a {
            float: right;
            padding: 0 5px;
            line-height: 20px;
            background: #333;
            cursor: pointer;
        }

            #superbox .close a span {
                color: #fff;
            }

        #superbox .nextprev a {
            float: left;
            margin-right: 5px;
            padding: 0 5px;
            line-height: 20px;
            background: #333;
            cursor: pointer;
            color: #fff;
        }

        #superbox .nextprev .disabled {
            background: #ccc;
            cursor: default;
        }
    </style>


}


    <div>
        <h2>Değiştirmeden Önce</h2>
        <table border="0" cellpadding="5" cellspacing="0" style="margin-left: 20px;">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Önce</th>
                    <th>Sonra</th>
                </tr>
            </thead>
            <tr>
                <td style="width: 150px;">Firma İsmi
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(m => m.StoreName, new { style = "width: 250px;" })
                </td>
                <td>
                    @Html.DisplayFor(m => m.Store.StoreName, new { style = "width: 250px;" })
                </td>
                <td>@if (Model.StoreName != Model.Store.StoreName)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>Firma Kısa İsmi
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(m => m.StoreUniqueShortName, new { style = "width: 250px;" })
                </td>
                <td>
                    @Html.DisplayFor(m => m.Store.StoreUniqueShortName, new { style = "width: 250px;" })
                </td>
                <td>@if (Model.StoreUniqueShortName != Model.Store.StoreUniqueShortName)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>Web Adresi
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(m => m.StoreWeb, new { style = "width: 250px;" })
                </td>
                <td>
                    @Html.DisplayFor(m => m.Store.StoreWeb, new { style = "width: 250px;" })
                </td>
                <td>@if (Model.StoreWeb != Model.Store.StoreWeb)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td></td>
                <td>:
                </td>
                <td>
                    <a style="color: Blue;" href="http://@Model.StoreWeb" target="_blank">
                        @Model.StoreWeb</a>
                </td>
                <td>
                    <a style="color: Blue;" href="http://@Model.Store.StoreWeb" target="_blank">
                        @Model.Store.StoreWeb</a>
                </td>
            </tr>
            <tr>
                <td>Email
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(m => m.StoreEMail, new { style = "width: 250px;" })
                </td>
                <td>
                    @Html.DisplayFor(m => m.Store.StoreEMail, new { style = "width: 250px;" })
                </td>
                <td>@if (Model.StoreEMail != Model.Store.StoreEMail)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.StoreCapital)
                </td>
                <td>:
                </td>

                <td>
                    @Model.StoreCapital
                </td>
                <td>
                    @Model.Store.StoreCapital
                </td>
                <td>@if (Model.StoreCapital != Model.Store.StoreCapital)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>Kuruluş Yılı
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(m => m.StoreEstablishmentDate, new { style = "width: 94px;" })
                </td>
                <td>
                    @Html.DisplayFor(m => m.Store.StoreEstablishmentDate, new { style = "width: 94px;" })
                </td>
                <td>@if (Model.StoreEstablishmentDate != Model.Store.StoreEstablishmentDate)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>Firma Tipi
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(m => m.StoreType, new { style = "width: 170px; "})
                </td>
                <td>
                    @Html.DisplayFor(m => m.Store.StoreType, new { style = "width: 170px; "})
                </td>
                <td>@if (Model.StoreType != Model.Store.StoreType)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>Çalışan Sayısı
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(c => c.StoreEmployeesCount, new { style = "width: 170px; " })
                </td>
                <td>
                    @Html.DisplayFor(c => c.Store.StoreEmployeesCount, new { style = "width: 170px; " })
                </td>
                <td>@if (Model.StoreEmployeesCount != Model.Store.StoreEmployeesCount)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>Ciro
                </td>
                <td>:
                </td>
                <td>
                    @Html.DisplayFor(m => m.StoreEndorsement, new { style = "width: 170px; " })
                </td>
                <td>
                    @Html.DisplayFor(m => m.Store.StoreEndorsement, new { style = "width: 170px; " })
                </td>
                <td>@if (Model.StoreEndorsement != Model.Store.StoreEndorsement)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x=>x.TaxOffice)/@Html.LabelFor(x=>x.TaxNumber)</td>
                <td>:</td>
                <td>@Html.TextBoxFor(m=>m.TaxOffice)/@Html.TextBoxFor(m=>m.TaxNumber)</td>
                <td>@Html.TextBoxFor(m=>m.Store.TaxOffice)/@Html.TextBoxFor(m=>m.Store.TaxNumber)</td>
                <td>@if (Model.TaxNumber != Model.Store.TaxNumber)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x=>x.MersisNo)/@Html.LabelFor(x=>x.TradeRegistrNo)</td>
                <td>:</td>
                <td>@Html.TextBoxFor(m=>m.MersisNo)/@Html.TextBoxFor(m=>m.TradeRegistrNo)</td>
                <td>@Html.TextBoxFor(m=>m.Store.MersisNo)/@Html.TextBoxFor(m=>m.Store.TradeRegistrNo)</td>
                <td>@if (Model.MersisNo != Model.Store.MersisNo)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(m => m.StoreAbout)
                </td>
                <td valign="top">:
                </td>
                <td>
                    @Html.TextAreaFor(m => m.StoreAbout, new { style = "width:350px; height : 60px;" })
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Store.StoreAbout, new { style = "width:350px; height : 60px;" })
                </td>
                <td>@if (Model.StoreAbout != Model.Store.StoreAbout)
                        {
                    <p>Değiştirildi</p>
                     } </td>
            </tr>
            <tr>
                <td>Logo</td>
                <td>:</td>
                <td>@if (!String.IsNullOrEmpty(Model.StoreLogo))
                        {
                            string logoThumb = "//s.makinaturkiye.com/Store/" + Model.MainPartyId + "/" + Model.StoreLogo;  
                    <img src="@logoThumb" style="border: solid 1px #b6b6b6;" width="300" height="200" />
                     }
                        else
                        {

                        } </td>
                <td>
                    @if (!String.IsNullOrEmpty(Model.Store.StoreLogo))
                        {
                            string logoThumb = "//s.makinaturkiye.com/Store/" + Model.Store.MainPartyId + "/" + Model.Store.StoreLogo;  
                    <img src="@logoThumb" style="border: solid 1px #b6b6b6;" width="300" height="200" />
                     }
                        else
                        {

                        } 
                </td>
            </tr>
        </table>
    </div>



