@model MTProductsProductListModel
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores
@using NeoSistem.Trinnk.Core.Web
@using NeoSistem.Trinnk.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.Trinnk.Web.Models.StoreProfiles
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    Layout = null;

}



<div class="tab-pane fade in" id="liste">
    <div class="row clearfix">
        @foreach (var model1 in Model.MTProductsPageProductLists.Source.OrderByDescending(x => x.productrate).ToList())
        {


            string modelYil = (model1.ModelYear != 0) ? (" " + model1.ModelYear.ToString() + " " + "model1" + " ") : "";

            string fulla = model1.ProductTypeText + model1.ProductStatuText + modelYil + model1.BriefDetailText + model1.ProductSalesTypeText;
            <div class=" hidden-item-container">
                <div class="col-xs-3">
                    <a href="@model1.ProductUrl">

                        <img src="@model1.ProductImagePath" class="img-thumbnail"
                             alt="@Html.Truncate(model1.ProductName, 80)" title="@Html.Truncate(model1.ProductName, 80)" />

                    </a>
                </div>
                <div class="col-xs-6">
                    <h4 class="media-heading">
                        <a href="@model1.ProductUrl">
                            @model1.ProductName
                        </a>
                    </h4>
                    <p class="text-muted">
                        @fulla
                        <br />
                        @if (model1.ProductDescription != "")
                        {
                            @model1.ProductDescription
                        }
                    </p>
                    <p>
                        <a href="@model1.ProductUrl">
                            <span class="label label-info">
                                No
                                @model1.ProductNo
                            </span>
                        </a>
                    </p>
                    <ul class="list-inline mt20  text-muted">
                        <li>
                            <span class="glyphicon glyphicon-time"></span>
                            @model1.CityName
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-cog"></span>
                            @model1.LocalityName
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <p class="text-lg">
                        <b>
                            @if (model1.ProductPrice != "")
                            {

                                <span class="@(!string.IsNullOrEmpty(model1.ProductPriceDiscount) ? "old-price":"")">
                                    @if (model1.Currency != "")
                                    {
                                        <i itemprop="priceCurrency" class="@model1.Currency"></i>
                                    }
                                    @model1.ProductPrice
                                </span>
                                if (!string.IsNullOrEmpty(model1.ProductPriceDiscount))
                                {
                                    <span>
                                        <i itemprop="priceCurrency" class="@model1.Currency"></i>
                                        @model1.ProductPriceDiscount
                                    </span>
                                }
                            }
                            else
                            {
                                <span style="color: Green; font-size: 11px; font-weight: bold;">Fiyat Sorunuz</span>
                            }
                        </b>
                    </p>
                    <p class="text-muted">
                        Marka : <strong>
                            @model1.BrandName
                        </strong>
                        <br/>  @*@model1.Tipi*@ <strong>
                            @model1.ModelName
                        </strong>
                    </p>
                </div>
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>
        }
    </div>
    @Html.Partial("Paging", Model)
</div>
