@model MTStoreProfileVideoModel
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores
@using NeoSistem.Trinnk.Core.Web
@using NeoSistem.Trinnk.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.Trinnk.Web.Models.StoreProfiles
@using NeoSistem.Trinnk.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";

}

@section headercontent{
    @Html.Partial("_HeaderContent")

}

@section storeprofileheadercontent{
    @if (Model.StoreActiveType == 2)
    {
    }
    @Html.Partial("_HeaderTop", Model.MTStoreProfileHeaderModel)
}

@section stoprofilemenu{
    @if (Model.StoreActiveType == 2)
    {
        @Html.Partial("_LeftMenu", Model.MTStoreProfileHeaderModel)
    } 
}


@if (Model.StoreActiveType == 2)
{
    @Html.Hidden("hdnStoreMainPartyId", Model.MainPartyId)
    <div class="col-sm-7 col-md-8 col-lg-9">

        <div class="StoreProfileMenu mb20">
            @Html.Partial("_VideoCategories", Model.VideoCategoryModel)
        </div>

        <div class="StoreProfileContent" id="StoreProfileVideosNew">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!--test asdada!-->
                <div class="row hidden-xs">
                    <div class="col-xs-12 sektorBack">
                    </div>
                </div>
                <div class="alert alert-info tumSektorBack">

                    @(Model.StoreName+" ")@(string.IsNullOrEmpty(Model.VideoCategoryModel.SelectedCategoryName) ? "Tüm Ürün" : Model.VideoCategoryModel.SelectedCategoryName+" Ürün" ) Videoları
                </div>
                @Html.Partial("_VideoViewWindow", Model.VideosPage)
            </div>

            <div class="clearfix"></div>
            <!-- ./StoreProfileContent -->
        </div>
        <!-- /.col-md-5 main content -->
    </div>


}
else
{
    @Html.Action("NoAccessStore", new { id = Model.MainPartyId })
}
