@model List<MTBaseMenuModel>
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.FavoriteProducts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Checkouts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.OtherSettings
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Constants

@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";
    Layout = null;
}



@{bool isMobile = Request.Browser.IsMobileDevice; }




<nav class="navbar navbar-inverse main-navigation navbar-expand-md">
    <div class="collapse navbar-collapse js-navbar-collapse container-fluid">
        <div class="mobile-main-menu">
            @if (isMobile)
            {
                <div class="mobile-hm-title">Tüm Kategoriler</div>
                <ul class="nav navbar-nav mobile-hm">
                    @foreach (var item in Model.ToList())
                    {
                        foreach (var category in item.CategoryModels)
                        {
                            <li class="dropdown mega-dropdown" data-menu-id="@item.BaseMenuId">
                                <div class="hm-item hm-text">
                                    <span class="hm-image-container">
                                        <img class="hm-image" src="@category.CategoryIcon" alt="" style="width:24px;">
                                    </span>
                                    <span>
                                        <a href="@category.CategoryUrl">
                                            @category.CategoryName
                                        </a>
                                        <i class="hm-icon dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;" data-cat-id="@category.CategoryId"></i>
                                    </span>
                                </div>
                                <ul class="dropdown-menu mega-dropdown-menu container-fluid" style="margin-top: 5px;">
                                    <div id="loading" style="text-align: center;"></div>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            }
            else
            {

                <ul class="nav navbar-nav">

                    @foreach (var item in Model.ToList())
                    {

                        <li class="dropdown mega-dropdown" data-menu-id="@item.BaseMenuId">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">


                                <span class="hidden-sm hidden-xs">

                                    @Html.Raw(item.BaseMenuName)

                                </span>


                                <span class="hidden-md hidden-lg">

                                    @item.BaseMenuName.Replace("<br>", "")


                                    <i class="icon-down-arrow" style="float: right;"></i>

                                </span>

                            </a>

                            <ul class="dropdown-menu mega-dropdown-menu container-fluid">

                                <div style="text-align: center;" id="loading"></div>

                            </ul>

                        </li>

                    }

                </ul>

            }
        </div>
    </div>
</nav>

