@model NeoSistem.MakinaTurkiye.Web.Models.Home.MTHomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("RequestScrool", 1)
@Html.Hidden("RequestScroolSector", 1)
@Html.Hidden("Page", 2)
@if (!Request.Browser.IsMobileDevice)
{
<div class="home-banner-area hidden-xs">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            @Html.Partial("_SliderBanner", Model.SliderBannerMoldes)
        </div>
    </div>
</div>}
<div class="main-container container homeCont">
    <div class="row" style="padding: 0px; margin: 0px; margin-right: -14px;">
        <div class="hidden-xs" style="height:12px">
        </div>
        <div id="home-sector">
            @{Html.RenderAction("GetHomeSector", "CatologAjax");}
        </div>
    </div>
    @if (!Request.Browser.IsMobileDevice)
    {
@Html.Partial("_NewsAds", Model.NewsAdModels)}
    <div id="home-showcase"></div>
    <div class="advertiseHome">
        <div class="container" style="width:1290px">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-md-offset-1 aos-init aos-animate" data-aos="fade-right" data-aos-offset="200" data-aos-delay="100" data-aos-duration="1000">
                    <span>İlan Verin</span>
                    <p>İlan vermek ve diğer tüm avantajlardan yararlanmak için üye olun!</p>
                </div>
                <div class="col-md-5 col-sm-6 clearfix aos-init aos-animate" data-aos="fade-up">
                    <div class="clearfix buttons">
                        <a href="/uyelik/hizliuyelik/uyeliktipi-0">ÜYE OL</a>
                        <a href="/uyelik/kullanicigirisi">GİRİŞ YAP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="productMayLike">
        @{Html.RenderAction("GetProductShowCase", "CatologAjax");}
    </div>
    @Html.Partial("_ShowCaseStores", Model.StoreModels)
    <div class="row" style="padding-left: 3px; padding-right: 3px;">
        <div class="col-xs-12">
            <div class="home-seo-content">
                <h2 style=" font-size: 20px;">
                    @Model.ConstantTitle
                </h2>
                <div style="text-align:justify">
                    @Html.Raw(Model.ConstantProperty)
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ActiveGetProductRecomandation() {
        var owlTemplate = $('.owlTemplate');
        $.each(owlTemplate, function () {
            var item = $(this).find(".bottom-slider");
            if (item != undefined) {
                item.owlCarousel({
                    margin: 0,
                    loop: true,
                    nav: false,
                    autoplay: true,
                    autoplayTimeout: 5000,
                    autoplayHoverPause: true,
                    autoWidth: true,
                    responsive: {
                        0: {
                            items: 1,
                            slideBy: 1
                        },
                        768: {
                            items: 2,
                            slideBy: 2
                        },
                        992: {
                            items: 3,
                            slideBy: 3

                        },
                        1200: {
                            items: 5,
                            slideBy: 5
                        }
                    }
                })
                var nextItem = $(this).find(".overflow-next");
                var prevItem = $(this).find(".overflow-prev");
                $(nextItem).click(function () {
                    item.trigger('next.owl.carousel');

                });
                $(prevItem).click(function () {
                    item.trigger('prev.owl.carousel', [300]);

                });
            }
        });
        function setOwlStageHeight(event) {
            var maxHeight = 0;
            $('.owl-item.active').each(function () { // LOOP THROUGH ACTIVE ITEMS
                var thisHeight = parseInt($(this).height());
                maxHeight = (maxHeight >= thisHeight ? maxHeight : thisHeight);
            });
            $('.owl-carousel').css('height', maxHeight);
            $('.owl-stage-outer').css('height', maxHeight); // CORRECT DRAG-AREA SO BUTTONS ARE CLICKABLE
        }
    }
    ActiveGetProductRecomandation();
    document.addEventListener("DOMContentLoaded", function () {
        var lazyloadImages;
        if ("IntersectionObserver" in window) {
            lazyloadImages = document.querySelectorAll(".img-lazy");
            var imageObserver = new IntersectionObserver(function (entries, observer) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        var image = entry.target;
                        image.src = image.dataset.src;

                        imageObserver.unobserve(image);
                    }
                });
            });
            lazyloadImages.forEach(function (image) {
                imageObserver.observe(image);
            });
        } else {
            var lazyloadThrottleTimeout;
            lazyloadImages = document.querySelectorAll(".img-lazy");

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function () {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function (img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                        }
                    });
                    if (lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        }
    })
</script>


