@model NeoSistem.MakinaTurkiye.Web.Models.Home.MTHomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = null;
}

@Html.Hidden("RequestScrool", 1)
@Html.Hidden("RequestScroolSector", 1)
@Html.Hidden("Page", 2)


<div>
    @if (!Request.Browser.IsMobileDevice)
    {
<div class="home-banner-area hidden-xs">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            @Html.Partial("_SliderBanner", Model.SliderBannerMoldes)
        </div>
    </div>
</div>}
</div>
<div class="main-container container">
    <div class="row">
        <div class="col-md-12" style="margin-top:10px;">
            <div>
                <h1 style="color: #0350a5;
              font-family: Arial;
              font-size: 24px;
              font-weight: 700;
              line-height: 27px;">
                    Dünya'nın Makinası Bir Arada
                </h1>
            </div>
            <div class="home-showcase__body">
                <div id="home-sector">
                </div>
            </div>
        </div>
    </div>
    @if (!Request.Browser.IsMobileDevice)
    {
        @Html.Partial("_NewsAds", Model.NewsAdModels)
    }

    <div id="home-showcase">
    </div>
    <div class="advertiseHome" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-md-offset-1 aos-init aos-animate" data-aos="fade-right" data-aos-offset="200" data-aos-delay="100" data-aos-duration="1000">
                    <span>İlan Verin</span>
                    <p>İlan vermek ve diğer tüm avantajlardan yararlanmak için üye olun!</p>
                </div>
                <div class="col-md-4 col-sm-6 clearfix aos-init aos-animate" data-aos="fade-up">
                    <div class="clearfix buttons">
                        <a href="/uyelik/hizliuyelik/uyeliktipi-0">ÜYE OL</a>
                        <a href="/uyelik/kullanicigirisi">GİRİŞ YAP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="productMayLike">

    </div>
    @Html.Partial("_ShowCaseStores", Model.StoreModels)
    <div class="row">
        <div class="col-xs-12">
            <div class="home-seo-content">
                <h2>
                    @Model.ConstantTitle
                </h2>
                @Html.Raw(Model.ConstantProperty)
            </div>
        </div>
    </div>

    @*@Html.Partial("_Bulletin")*@

</div>
<script type="text/javascript">
    function GetProductRecomandation() {
        $.ajax({
            type: 'get',
            url: '/Home/GetProductRecomandation',
            data: {},
            success: function (data) {
                $('.productMayLike').html(data);
                $(".advertiseHome").show();
                var owlTemplate = $('.owlTemplate');
                $.each(owlTemplate, function () {
                    var item = $(this).find(".bottom-slider");
                    if (item != undefined) {
                        item.owlCarousel({
                            margin: 0,
                            loop: true,
                            nav: false,
                            autoplay: true,
                            autoplayTimeout: 5000,
                            autoplayHoverPause: true,
                            autoWidth: true,
                            responsive: {
                                0: {
                                    items: 1,
                                    slideBy: 1
                                },
                                768: {
                                    items: 2,
                                    slideBy: 2
                                },
                                992: {
                                    items: 3,
                                    slideBy: 3

                                },
                                1200: {
                                    items: 5,
                                    slideBy: 5
                                }
                            }
                        })
                        var nextItem = $(this).find(".overflow-next");
                        var prevItem = $(this).find(".overflow-prev");
                        $(nextItem).click(function () {
                            item.trigger('next.owl.carousel');

                        });
                        $(prevItem).click(function () {
                            item.trigger('prev.owl.carousel', [300]);

                        });


                    }
                });
                function setOwlStageHeight(event) {
                    var maxHeight = 0;
                    $('.owl-item.active').each(function () { // LOOP THROUGH ACTIVE ITEMS
                        var thisHeight = parseInt($(this).height());
                        maxHeight = (maxHeight >= thisHeight ? maxHeight : thisHeight);
                    });
                    $('.owl-carousel').css('height', maxHeight);
                    $('.owl-stage-outer').css('height', maxHeight); // CORRECT DRAG-AREA SO BUTTONS ARE CLICKABLE
                }


            },
            error: function (x, y, z) {
                //alert('Bir Hata Oluştu. Lütfen Destek Ekibimiz ile İletişime Geçiniz');
                console.log("hata");
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
        var lazyloadImages;
        if ("IntersectionObserver" in window) {
            lazyloadImages = document.querySelectorAll(".img-lazy");
            var imageObserver = new IntersectionObserver(function (entries, observer) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        var image = entry.target;
                        image.src = image.dataset.src;

                        imageObserver.unobserve(image);
                    }
                });
            });
            lazyloadImages.forEach(function (image) {
                imageObserver.observe(image);
            });
        } else {
            var lazyloadThrottleTimeout;
            lazyloadImages = document.querySelectorAll(".img-lazy");

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function () {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function (img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                        }
                    });
                    if (lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        }
    })
    var c = 1;
    var sectorLoaded = 0;
    function GetProductsShowCase() {
        $.ajax({

            url: '/ajax/GetProductShowCase',
            type: 'GET',
            data: {
            },

            success: function (data) {
                // alert("Veri Geldi:" + data);
                $("#home-showcase").html(data);

                //$("#category-selected-home").append($("#advertiseHomeContent").html());
                //GetProductRecomandation();


            },
            error: function (request, error) {

                console.log("Request: " + JSON.stringify(request));
            }
        });

    }
    $(window).scroll(function () {
        var requestScroll = $("#RequestScrool").val();
        var requestScroolSector = $("#RequestScroolSector").val();
        var sectorHeight = $(".new-header").height() + $(".main-navigation").height() - 200;
        var b = $(".new-header").height() + $(".main-navigation").height() + $(".home-banner-area ").height() + $("#home-sector").height() - 200;
        if ($(window).scrollTop() > sectorHeight) {
            if (requestScroolSector == 1) {
                $.ajax({

                    url: '/ajax/GetHomeSector',
                    type: 'GET',
                    data: {
                    },

                    success: function (data) {
                        $("#home-sector").html(data);
                        $("#RequestScroolSector").val("0");
                        GetProductsShowCase();

                    },
                    error: function (request, error) {
                        console.log("Request: " + JSON.stringify(request));
                    }
                });



            }

        }
    });
</script>


