@model MTCategoryStoreModel
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.FavoriteProducts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Checkouts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.OtherSettings
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Constants

@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}



@{

    string gorunumt = Request.QueryString["Gorunum"];
}

@if (gorunumt != "3")
{



    <div class="col-xs-12">
        <div class="category-firms">
            <div class="sector-firms-slider owl-carousel clearfix js-sector-firm-slider">
                @{
                    var asastores = Model.StoreItemModes.ToList();
                }
                @if (asastores.Count > 0)
                {
                    foreach (var item in asastores)
                    {
                        string logoPath = "";
                        if (item != null)
                        {
                            logoPath = item.PictureLogoPath;

                            <div class="sector-firms-slider__item item">
                                <div class="sector-firms-slider__img">
                                    <a href="@item.StoreUrl">
                                        <img src="@item.PictureLogoPath" alt="@item.StoreName" />
                                    </a>
                                </div>
                                <a href="@item.StoreUrl" target="_blank">
                                    <p style="color: #333; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-height: 32px;">@item.StoreName</p>
                                </a>
                                <div class="sector-firms-slider__category">
                                    <a href="@item.StoreProductCategoryUrl" class="btn-xs btn btn-store-category">
                                        <span>@(Html.Truncatet(Model.SelectedCategoryName, 38) + " " + Model.SelectedCity )</span>
                                    </a>
                                </div>
                            </div>



                        }
                    }
                }
            </div>
        </div>
    </div>

}
