@model IList<MTSearchProductModel>
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.FavoriteProducts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Checkouts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.OtherSettings
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Constants

@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}


<div class="tab-pane fade in active" id="liste">
    @foreach (var model1 in Model)
    {

        string productUrl = Helpers.ProductUrl(model1.ProductId, model1.ProductName);
        string ModelYil = (model1.ModelYear != 0) ? (" " + model1.ModelYear.ToString() + " " + "Model" + " ") : "";
        string Sdesc = (model1.BriefDetailText != null) ? (model1.BriefDetailText + " ") : "";
        string ptypea = (model1.ProductTypeText != null) ? (model1.ProductTypeText + " ") : "";
        string pstypea = (model1.ProductSalesTypeText != null) ? (model1.ProductSalesTypeText + " ") : "";
        string sit = (model1.ProductStatuText != null || model1.ProductStatuText != "") ? (model1.ProductStatuText + " ") : "";
        string fulla = ptypea + sit + (sit.Equals("Sıfır ") ? DateTime.Now.Year.ToString() + " " : ModelYil) + (Sdesc.Contains("Garantili") && !string.IsNullOrEmpty(model1.WarrantyPeriod) ? Sdesc.Replace("Garantili", string.Format("{0} Yıl Garantili", model1.WarrantyPeriod)) : Sdesc) + pstypea;
        <div class="row hidden-item-container">
            <div class="col-xs-3 urun-resim">
                <a href="@productUrl">
                    @{
                        Dictionary<string, object> imageHtmlAtturbite = new Dictionary<string, object>();
                        imageHtmlAtturbite.Add("alt", Html.Truncate(model1.ProductName, 80));
                        imageHtmlAtturbite.Add("class", "img-thumbnail");
                        imageHtmlAtturbite.Add("title", Html.Truncate(model1.ProductName, 80));
                    }

                    @if (!string.IsNullOrEmpty(Html.GetProductImage(model1.ProductId, model1.MainPicture, NeoSistem.MakinaTurkiye.Web.Helpers.ImageHelpers.ImageSize.px400x300, imageHtmlAtturbite).ToString()))
                    {

                        @Html.GetProductImage(model1.ProductId, model1.MainPicture, NeoSistem.MakinaTurkiye.Web.Helpers.ImageHelpers.ImageSize.px160x120, imageHtmlAtturbite)

                    }
                    else
                    {

                        <img src="https://dummyimage.com/200x150/efefef/000000.jpg&text=urun%20resmi%20bulunamad%C4%B1" class="img-thumbnail"
                             alt="@Html.Truncate(model1.ProductName, 80)" title="@Html.Truncate(model1.ProductName, 80)" />
                    }
                </a>
            </div>
            <div class="col-xs-6">
                <h4 class="media-heading">
                    <a href="@productUrl">
                        @model1.ProductName
                    </a>
                </h4>
                @fulla
                <p class="text-muted">
                    <br />
                    <ul class="list-inline  mt20  text-muted">
                        <li>
                            <span class="glyphicon glyphicon-time"></span>
                            @model1.CityName
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-cog"></span>
                            @model1.LocalityName
                        </li>
                    </ul>
                </p>
                <p>
                    <a href="@productUrl">
                        <span class="label label-info">
                            İlan No
                            @model1.ProductNo
                        </span>
                    </a>
                </p>


            </div>
            <div class="col-xs-3">
                <p class="text-lg item-price">

                    @{string deger = "";
                        var model12 = model1.CurrencyName;
                        var model13 = model1.ProductPrice;

                        string tutar = ""; }
                    @if (model13 != null)
                    {
                        decimal sayı = (decimal)model13;
                        tutar = sayı.ToString("0.");
                    }


                    @if (model13 != null)
                    {
                        if (tutar != "0,00" && model12 != null)
                        {
                            //var phone=from c in entities.Phones
                            deger = model12.ToString();
                            ViewData["dov"] = tutar + " " + model12.ToString();
                        }

                    }

                    <b>

                        @if (tutar != "0")
                        {


                            string currencyType = model12;
                            if (currencyType == "USD")
                            {


                                <i itemprop="priceCurrency" class="fa fa-usd"></i>

                            }
                            else if (currencyType == "EUR")
                            {

                                <i itemprop="priceCurrency" class="fa fa-eur"></i>

                            }
                            else if (currencyType == "JPY")
                            {

                                <i itemprop="priceCurrency" class="fa fa-jpy"></i>

                            }
                            else
                            {

                                <i itemprop="priceCurrency" class="fa fa-turkish-lira"></i>

                            }

                            @tutar <span style ="font-size: 10px;" >,00 </span>
                        }
                        else
                        {
                             <span class="interview">Fiyat: Sorunuz</span>
                        }
                    </b>
                </p>

                <p class="text-muted">
                    Marka : <strong>

                        @model1.BrandName
                    </strong>

                    <br />
                    Model Tipi: <strong>@model1.ModelName </strong>

                </p>

                <span class="label label-success">


                    @Html.Truncate(model1.StoreName, 25)

                </span>

            </div>

            <div class="col-xs-12">

                <hr>

            </div>

        </div>

    }
</div>
