@model NeoSistem.MakinaTurkiye.Web.Models.Catalog.MTCategoryProductViewModel

@{ //  ViewBag.Title = "Index2";

                Layout = "~/Views/Shared/_LayoutMainMaster.cshtml"; }

@section headercontent{

    <!-- #region HeaderContent -->

    @if (!string.IsNullOrEmpty(ViewBag.Canonical))
    {
        if (Model.CategoryModel.SelectedCategoryId == 0) { ViewBag.Canonical = "https://urun.makinaturkiye.com"; }
<link rel="canonical" href="@ViewBag.Canonical" />}

    @if (!string.IsNullOrEmpty(Model.PrevPageUrl))
    {
<link rel="prev" href="@Model.PrevPageUrl" />}

    @if (!string.IsNullOrEmpty(Model.NextPageUrl))
    {
<link rel="next" href="@Model.NextPageUrl" />}

    @if (!this.Context.IsDebuggingEnabled)
    {
<meta name="robots" content="INDEX,FOLLOW" />}

    <script type="text/javascript">
        $(document).ready(function () {
            //GetMostViewedProductAjax();
            //GetStoreWithAjax();
            $('#carouselExampleControls').carousel();
            let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
            if (isMobile) {
                var i = 0;
                var count = $(".breadcrumb-mt li").length;
                $(".fast-access-bar").css("margin-top", "-20px");
                $(".fast-access-bar").removeAttr("class");
                var i = 0;
                var count = $(".breadcrumb-mt li").length;
                $(".breadcrumb-mt li").each(function (index) {
                    if (index == 0) {
                        $(this).show();
                    }
                    else if (index < count - 2) {
                        $(this).css("display", "none");
                    }
                });
            }
        });
        //lazyloading
        document.addEventListener("DOMContentLoaded", function () {
            var lazyloadImages;

            if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".img-lazy");
                var imageObserver = new IntersectionObserver(function (entries, observer) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            var image = entry.target;
                            image.src = image.dataset.src;

                            imageObserver.unobserve(image);
                        }
                    });
                });

                lazyloadImages.forEach(function (image) {
                    imageObserver.observe(image);
                });
            } else {
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".img-lazy");

                function lazyload() {
                    if (lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }

                    lazyloadThrottleTimeout = setTimeout(function () {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function (img) {
                            if (img.offsetTop < (window.innerHeight + scrollTop)) {
                                img.src = img.dataset.src;
                                //img.classList.remove('img-thumbnail');
                            }
                        });
                        if (lazyloadImages.length == 0) {
                            document.removeEventListener("scroll", lazyload);
                            window.removeEventListener("resize", lazyload);
                            window.removeEventListener("orientationChange", lazyload);
                        }
                    }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
            }
        })
        //lazyloading finish

        function GetMostViewedProductAjax() {
            $.ajax({
                type: 'post',
                url: '/Category/MViewedProductGet',
                data: { SelectedCategoryId: '@Model.CategoryModel.SelectedCategoryId', SelectedCategoryName: '@Model.CategoryModel.SelectedCategoryContentTitle' },
                success: function (data) {
                    if (data == "") {
                        $("#PopulerUrunlerTitle").hide();
                    }
                    $('.MostViewProduct').html(data);
                    var owlTemplate = $('.owlTemplate');
                    $.each(owlTemplate, function () {
                        var item = $(this).find(".bottom-slider");

                        if (item != undefined) {
                            item.owlCarousel({
                                margin: 0,
                                loop: true,
                                nav: false,
                                autoplay: true,
                                autoplayTimeout: 5000,
                                autoplayHoverPause: true,
                                autoWidth: true,
                                responsive: {
                                    0: {
                                        items: 1,
                                        slideBy: 1
                                    },
                                    768: {
                                        items: 2,
                                        slideBy: 2
                                    },
                                    992: {
                                        items: 3,
                                        slideBy: 3

                                    },
                                    1200: {
                                        items: 5,
                                        slideBy: 5
                                    }
                                }
                            })
                            var nextItem = $(this).find(".overflow-next");
                            var prevItem = $(this).find(".overflow-prev");
                            $(nextItem).click(function () {
                                item.trigger('next.owl.carousel');

                            });
                            $(prevItem).click(function () {
                                item.trigger('prev.owl.carousel', [300]);

                            });

                        }
                    });
                    function setOwlStageHeight(event) {
                        var maxHeight = 0;
                        $('.owl-item.active').each(function () { // LOOP THROUGH ACTIVE ITEMS
                            var thisHeight = parseInt($(this).height());
                            maxHeight = (maxHeight >= thisHeight ? maxHeight : thisHeight);
                        });
                        $('.owl-carousel').css('height', maxHeight);
                        $('.owl-stage-outer').css('height', maxHeight); // CORRECT DRAG-AREA SO BUTTONS ARE CLICKABLE
                    }


                },
                error: function (x, y, z) {
                    //alert('Bir Hata Oluştu. Lütfen Destek Ekibimiz ile İletişime Geçiniz');
                }
            });
        }
        function GetStoreWithAjax() {
            $.ajax({
                type: 'post',
                url: '/Category/GetStoresByCategoryId',
                data: { selectedCategoryId:@Model.CategoryId, selectedBrandId:@Model.BrandId, selectedCountryId:@Model.CountryId, selectedCityId:@Model.CityId, selectedLocalityId:@Model.LocalityId},
                success: function (data) {
                    //$('#spanLoading').hide();
                    //var id = ($('#hdnDisplayType').val() == 2 ? " #liste" : " #pencere")
                    $('.storesContent').html(data);
                    if ($('.js-sector-firm-slider').length > 0) {
                        $('.js-sector-firm-slider').owlCarousel({
                            loop: $('.js-sector-firm-slider').find('.owl-item').length > 1 ? true : false,
                            margin: 10,
                            nav: true,
                            autoplay: true,
                            items: 8,
                            autoplayHoverPause: true,
                            autoplaySpeed: 1000,
                            autoHeight: true,
                            navText: ["", ""],
                            center: $('.js-sector-firm-slider').find('.owl-item').length > 1 ? true : false,
                            responsive: {
                                0: {
                                    items: 2
                                },
                                768: {
                                    items: 4
                                },
                                991: {
                                    items: 6
                                },
                                1200: {
                                    items: 8
                                }
                            }
                        })
                    }
                    //$('html, body').animate({ scrollTop: 150 }, 500);
                },
                error: function (x, y, z) {
                    //alert('Bir Hata Oluştu. Lütfen Destek Ekibimiz ile İletişime Geçiniz');
                }
            });
        }

    </script>

    @*@Html.Partial("CategoryHeaderContent")*@
    <!-- #endregion -->
}

<!-- #region MainContext -->


@{ string categoryTitle = "";
                //NeoSistem.MakinaTurkiye.Web.Models.CategoryType

                // = new NeoSistem.MakinaTurkiye.Web.Models.EnumModel();
                //var sonucc = enumModel.GetType.CategoryType();
                //CategoryType
}

@if (Model.CategoryModel.SelectedCategoryId == 0)
{
<div class="row clearfix">
    <div class="col-xs-12">
        <div class="row hidden-xs">
            <div class="col-xs-12">
                @Model.CategoryModel.Navigation
            </div>
        </div>
        <h1 style="font-size: 22px; padding-bottom: 5px; margin-top: 0px;"><b>Tüm Kategoriler</b></h1>
        <div class="row">
            @Html.Partial("_SectorCategoryListMenu")
        </div>
    </div>
</div>
                <div class="row clearfix cg-container">
                    <div class="col-sm-12 col-md-12 col-lg-9">
                        @Html.Partial("_SectorCategoryList")
                    </div>
                </div> }
                            else
                            {

                <div class="fast-access-bar">
                    <div class="fast-access-bar__inner">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-md-12">
                                @Html.Raw(Model.CategoryModel.Navigation)
                            </div>
                        </div>
                    </div>
                </div>


}

@if (!string.IsNullOrEmpty(Model.ContentBottomCenter))
{
<div class="row clearfix">
    <div class="alert alert-info alert-mt">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×
        </button>
        <h2 style="font-size: 12px; font-size: 12px; margin-top: 0px; margin-bottom: 0px;"><b><i>@Model.CategoryModel.SelectedCategoryName nerelerde kullanılır? Nasıl Kullanılır?</i></b></h2>
        @Model.ContentBottomCenter
    </div>
</div>            }


<div class="clearfix" id="PopulerUrunlerTitle" style="margin-bottom: -30px">
    <div class="col-xs-12">
        <h2 class="section-title-category section-title--left">
            <span>
                @categoryTitle Popüler Ürünler
            </span>
        </h2>
    </div>
</div>
<div class="clearfix">
    @Html.Partial("_MostViewProduct", Model.MostViewedProductModel)
</div>

@{ var app = "1"; }

@if (Request.Url.Segments.Length > 2)
{
    app = Request.Url.Segments.Length == 2 ? "" : Request.Url.Segments[2];
}

@if (app != "Sektor" || app != "Sektor/" || app == "1")
{
    if (Model.CategoryModel.SelectedCategoryId != 0)
    {

<div class="row clearfix">
    <div class="col-xs-12">
        <h2 class="section-title-category section-title--left">
            <span>
                <!--Bu kısımda null gelen lamda sorguları var. kontrol etmek lazım -->
                @{ string name = "";
                                        if (Model.FilteringContext.DataFilterMoldes.FirstOrDefault(k => k.FilterName == "Şehir").ItemModels.FirstOrDefault(k => k.Selected) != null)
                                        {
                                            name = Model.FilteringContext.DataFilterMoldes.FirstOrDefault(k => k.FilterName == "Şehir").ItemModels.FirstOrDefault(k => k.Selected).FilterName;
                                        } }
                <a href="@Model.StoreModel.StoreCategoryUrl" title="@categoryTitle> Firmaları">
                    @categoryTitle @name Firmaları
                </a>
            </span>

        </h2>
    </div>

    @{ Model.StoreModel.SelectedCategoryName = categoryTitle;
                            if ((Model.FilteringContext.DataFilterMoldes.FirstOrDefault(k => k.FilterName == "Şehir").ItemModels.FirstOrDefault(k => k.Selected) != null))
                            {
                                Model.StoreModel.SelectedCity = Model.FilteringContext.DataFilterMoldes.FirstOrDefault(k => k.FilterName == "Şehir").ItemModels.FirstOrDefault(k => k.Selected).FilterName;
                            } }

    @Html.Partial("_CategoryStores", Model.StoreModel)
</div>}
            }


@if (!string.IsNullOrEmpty(Model.SeoModel.SeoContent) || !string.IsNullOrEmpty(Model.SeoModel.Description))
{
<div class="alert alert-info alert-mt-category">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×
    </button>
    @if (!string.IsNullOrEmpty(Model.SeoModel.SeoContent))
    {
@Html.Raw(Model.SeoModel.SeoContent)
                    @Html.Raw(Model.ContentSide)}
    @Html.Raw(Model.SeoModel.Description)
</div>            }


 @if (!string.IsNullOrEmpty(Model.ConstantTitle) || !string.IsNullOrEmpty(Model.ConstantProperty))
        {
<div class="row">
    <div class="col-xs-12">
        <div class="home-seo-content">
            @if (!string.IsNullOrEmpty(Model.ConstantTitle))
            {
            <h2>
                @Model.ConstantTitle%>
            </h2>
            }
            @Model.ConstantProperty%>
        </div>
    </div>
</div>
    }
 <script type="application/ld+json">
                @Model.CategoryModel.MtJsonLdModel.JsonLdString
 </script>
