@model IList<MTPopularVideoModel>
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";

}


<div class="panel panel-mt2 hidden-xs">
    <div class="panel-heading">
        <i class="fa fa-play"></i>&nbsp;&nbsp;Popüler Videolar
    </div>

    <ul class="media-list panel-body">
        @foreach (var item in Model)
        {
            <li class="media">
                <a class="pull-left" href="@item.VideoUrl" title="@item.CategoryName">
                    <img class="media-object" width="80" height="60" src="@item.PicturePath" alt="@item.ProductName" />
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="@item.VideoUrl" class="text-info">
                            @item.ProductName
                        </a>
                        <br />
                        <a href="@item.VideoUrl" class="text-muted text-xs">
                            @item.TruncatetStoreName
                        </a>
                        <br />
                        <span class="text-muted text-xs">
                            @item.SingularViewCount görüntüleme
                        </span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
