@model MTVideoPagingModel
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";

}

@if (Model.TotalPageCount > 0)
{
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination m0">
                @{string[] str1 = Request.Url.ToString().Split('?'); }
                @if (Model.TotalPageCount > 0)
                {
                    str1[0] += "?currentPage=1";

                    <li><a href="@str1[0]">&laquo; </a></li>
                }

                @for (int i = Model.FirstPage; i <= Model.LastPage; i++)
                {
                    string[] str = Request.Url.ToString().Split('?');
                    str[0] += "?currentPage=" + i;
                    if (Model.TotalPageCount >= i)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="active">
                                <a href="@str[0]">
                                    @i.ToString()
                                </a>
                            </li>

                        }
                        else
                        {
                            <li>
                                <a href="@str[0]">
                                    @i.ToString()
                                </a>
                            </li>

                        }
                    }

                }

                @if (Model.TotalPageCount > 0)
                {
                    str1 = Request.Url.ToString().Split('?');
                    str1[0] += "?currentPage=" + Model.TotalPageCount;
                }

                @if (Model.TotalPageCount > 0)
                {
                    <li><a href="@str1[0]">&raquo; </a></li>
                }
            </ul>
        </div>

        <div class="col-md-12 text-center">
            Toplam
            @Model.TotalPageCount
            sayfa içerisinde
            @Model.CurrentPage . sayfayı görmektesiniz.
        </div>
    </div>
}
