@model MTVideoCategoryModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";

}
<nav>
    <ul role="menubar" id="menuBarItems" class="list-group list-group-mt">
        @if (Model.SelectedCategoryId == 0)
        {
            foreach (var item in Model.VideoCategoryItemModels)
            {
                <li class="list-group-item" role="menuitem">
                    <i class="fa fa-angle-right"></i>
                    &nbsp;&nbsp;&nbsp;
                    <a href="@item.CategoryUrl">
                        @item.CategoryName
                    </a>
                </li>
            }
        }
        else
        {


            string leftCategoryPrefix = string.Empty;
            for (int i = 0; i < Model.VideoTopCategoryItemModels.Count; i++)
            {

                <li class="list-group-item">
                    @MvcHtmlString.Create(leftCategoryPrefix)
                <i class="fa fa-angle-right"></i>
                <a href='@Model.VideoTopCategoryItemModels[i].CategoryUrl'>@Model.VideoTopCategoryItemModels[i].CategoryName Videoları</a>
            </li>
            leftCategoryPrefix += "&nbsp;&nbsp;";
        }

        for (int i = 0; i < Model.VideoTopSubCategoryItemModels.Count; i++)
        {

            <li class="list-group-item">
                @MvcHtmlString.Create(leftCategoryPrefix)
            <i class="fa fa-angle-right"></i>
            <a href='@Model.VideoTopSubCategoryItemModels[i].CategoryUrl'>@Model.VideoTopSubCategoryItemModels[i].CategoryName Videoları</a>
        </li>
        leftCategoryPrefix += "&nbsp;&nbsp;";
    }



    leftCategoryPrefix += "&nbsp;&nbsp;";
    foreach (var item in Model.VideoCategoryItemModels)
    {
        <li class="list-group-item">
            @MvcHtmlString.Create(leftCategoryPrefix)
        <i class="fa fa-angle-double-right"></i>
        <a href="@item.CategoryUrl">
            @item.CategoryName
        </a>
    </li>
}
}
    </ul>
</nav>
