@model FilterModel<NeoSistem.Trinnk.Management.Models.NotificationModel>
@{ Layout = null;}
@Html.HiddenFor(x => x.CurrentPage, new { id = "CurrentPage" })
@if (Model.Source.ToList().Count > 0)
{
    int row = 0;
    foreach (var itemMemberDesc in Model.Source.ToList())
    {
        string backgroundColor = "";
        if (itemMemberDesc.LastDate!=null)
        {
            var compateFisrst = DateTime.Compare(itemMemberDesc.LastDate.Value.AddMinutes(45), DateTime.Now);
            var compareSecond = DateTime.Compare(DateTime.Now, itemMemberDesc.LastDate.Value);
            if (compateFisrst > 0 && itemMemberDesc.IsImmediate)
            {
                backgroundColor = "background-color:#f1c9c9";
                if (itemMemberDesc.LastDate.Value.AddMinutes(30) > DateTime.Now)
                {
                    backgroundColor = "background-color:#f1dc65";
                }
            }
            else if (compareSecond > 0 && itemMemberDesc.IsImmediate)
            {
                backgroundColor = "background-color:#f1c9c9";
            }
        }

        row++;

<tr id="@("row"+itemMemberDesc.ID)" style="@backgroundColor" class="@(row % 2 == 0 ? "Row" : "RowAlternate")">
    <td class="Cell CellBegin">@row</td>
    <td class="Cell">@itemMemberDesc.MemberName</td>

    <td class="Cell">
        @if (itemMemberDesc.StoreMainPartyId == 0)
        {
            @itemMemberDesc.StoreName
        }
        else
        {
            <a target="_blank" href="/Store/EditStore/@itemMemberDesc.StoreMainPartyId">@itemMemberDesc.StoreName</a>
        }
    </td>
    <td class="Cell">@itemMemberDesc.Title</td>
    <td class="Cell" style="font-size: 15px; width: 680px;">@Html.Raw(itemMemberDesc.Description)</td>
    <td class="Cell">
        @if (!string.IsNullOrEmpty(itemMemberDesc.StoreName))
        {
            if (itemMemberDesc.CountryName != "Türkiye")
            {
                <span style="color:yellow">@itemMemberDesc.CountryName</span><br />
            }
            <span style="color:red;font-size:16px">@(itemMemberDesc.CityName != null ? itemMemberDesc.CityName.ToUpper() : "")</span><br />
            <span style="color:yellowgreen">@itemMemberDesc.LocalityName</span>
        }
        else
        {
            if (itemMemberDesc.PreCountryName != "Türkiye")
            {
                <span style="color:yellow">@itemMemberDesc.PreCountryName</span><br />
            }
            <span style="color:red;font-size:16px">@(itemMemberDesc.PreCityName != null ? itemMemberDesc.PreCityName.ToUpper() : itemMemberDesc.PreRegistrationStoreCityName)</span><br />
            <span style="color:yellowgreen">@itemMemberDesc.PreLocalityName</span>
        }

    </td>
    <td class="Cell" style="font-size: 10px;">
        <span style="font-weight: 600; font-size: 13px;">@itemMemberDesc.InputDate.ToString().Split(' ')[0]</span>
        <br />
        @itemMemberDesc.InputDate.ToString().Split(' ')[1]

    </td>
    <td class="Cell" style="font-size: 10px;">

        <span style="font-weight: 600; font-size: 13px;">@itemMemberDesc.LastDate.ToString().Split(' ')[0]</span>
        <br />
        @if (itemMemberDesc.LastDate!=null)
        {
            <span>@itemMemberDesc.LastDate.ToString().Split(' ')[1]</span>
        }
    </td>
    <td class="Cell" style="background-color: #2776e5; color: #fff">@itemMemberDesc.FromUserName</td>
    <td class="Cell" style="background-color: #31c854; color: #fff">@itemMemberDesc.SalesPersonName</td>
    <td class="Cell">
        @{string type = "Normal";}
        @if (itemMemberDesc.StoreMainPartyId == 0) { type = "Ön Kayıt"; }
        @type
    </td>
    <td class="Cell CellEnd">
        <a title="Açıklama" href="/Member/EditDesc1/@itemMemberDesc.ID">
            <img src="/Content/images/ac.png" style="width: 24px;" />
        </a>
        @if (Request.QueryString["UserId"] != null)
        {
            if (itemMemberDesc.IsImmediate)
            {
                <span>Çok Acil</span>
            }
            else
            {
                if (itemMemberDesc.IsFirst == true)
                {
                    <a style="color: #339966;" href="/MemberDescription/FirstProcess/@itemMemberDesc.ID?userId=@Request.QueryString["UserId"].ToString()&isFirst=0"><b>Öncelikli</b> Kaldır</a>
                }
                else
                {
                    if (itemMemberDesc.FromUserName == itemMemberDesc.SalesPersonName)
                    {
                        <a href="/MemberDescription/UpdateDescriptionDate/@itemMemberDesc.ID" id="lightbox_click" rel="superbox[iframe]">
                            <img src="/Content/Images/newtime.png" style="width: 16px;" />
                        </a>
                    }
                    <a href="/MemberDescription/FirstProcess/@itemMemberDesc.ID?userId=@Request.QueryString["UserId"].ToString()&isFirst=1">Öncelik Ver</a>
                }
            }
        }
    </td>
</tr>
    }
}
else
{
    <tr>
        <td>
        </td>
        <td colspan="11">
            <span style='color:red'>Kayıtlı Bildirim Bulunamadı</span>
        </td>
    </tr>
}

<tr>
    <td class="ui-state ui-state-hover" colspan="12" align="right" style="border-color: #DDD; border-top: none; padding-right: 10px">
        <div style="float: right;" class="pagination">
            <b>Toplam Kayıt:@Model.TotalRecord</b>
            <ul>
                @foreach (int i in Model.TotalLinkPages)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li><span class="currentpage">@i</span></li>
                    }
                    else
                    {

                        <li><a href="#" onclick="PagingPost(@i)">@i</a></li>

                    }
                }

            </ul>
        </div>
    </td>
</tr>