@using NeoSistem.Trinnk.Web.Models;
@using NeoSistem.Trinnk.Web.Models.ViewModels;
@model NeoSistem.Trinnk.Web.Models.ViewModels.StorePackagePurchaseRequestViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    bool ShowPacketList = true;
}
@section HeaderContent
{

}
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="page-header mt0">
            <h4 class="mt0">
                <span class="glyphicon glyphicon-screenshot"></span> Üyelik Paketi Satın Almak İstiyorum
            </h4>
        </div>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("StorePackagePurchaseRequest", "MembershipSales", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.MainPartyId)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2">Mağaza Adı</label>
                <div class="col-md-10">
                    @Model.StoreName
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Yetkili Adı</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.FirstName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Yetkili Soyadı</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.LastName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Telefon</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.Phone)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Firma Ürün Sayısı</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.ProductQuantity, new { @class = "form-control", @type = "number" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.ProductQuantity)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Not</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.Desciption, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.Desciption)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success btn-block col-md-2" style="max-width:150px">
                        Başvuru Kaydet
                    </button>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-6">
                    @switch ((int)ViewBag.processstate)
                    {
                        case 1:
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span class="alert alert-success">
                                            @Html.Raw(ViewBag.processmessage)
                                        </span>
                                        <meta http-equiv="refresh" content="5;@Trinnk.WebNew.Tools.Helper.ResolveUrl("~/Account/Home")">
                                    </div>
                                </div>
                                break;
                            }
                        case 2:
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span class="alert alert-danger">
                                            @Html.Raw(ViewBag.processmessage)
                                        </span>
                                    </div>
                                </div>
                                break;
                            }
                        default:
                            break;
                    }
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
        }
    </div>
</div>