@model OrderPageModel
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.FavoriteProducts
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Checkouts

@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}


@section headercontent{
    <style type="text/css">
        table tr td, th {
            font-size: 15px;
        }
    </style>
}
<div class="row">
    <div class="col-sm-12 col-md-12 store-panel-menu-header" style="margin-top: -20px; height: 60px;">
        @Html.Partial("LeftMenu", Model.LeftMenu)
    </div>
    <div class="col-md-12">
        <h4 class="mt0 text-info">
            <span class="text-primary glyphicon glyphicon-shopping-cart"></span>Siparişlerim
        </h4>
    </div>
</div>
<div class="row">

    <div class="col-sm-12 col-md-12">
        <div class="well well-mt">
            @if (Model.OrderListItems.Count > 0)
            {
                <div class="table-responsive-xl">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Paket Adı</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Kalan Miktar</th>
                                <th scope="col">Tarih</th>
                                <th scope="col">Araçlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int counter = 1;
                            }
                            @foreach (var order in Model.OrderListItems)
                            {
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>@order.PacketName </td>
                                    <td>@order.OrderPrice.ToString("C2")</td>
                                    <td>@order.RestAmount.ToString("C2")</td>
                                    <td>@order.RecordDate.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @if (order.RestAmount != 0)
                                        {
                                            <a class="btn btn-xs btn-success btn-add-on" href="/MemberShipSales/BeforePayCreditCard">Ödeme Yap</a>
                                        }
                                        
                                        <a class="btn btn-xs btn-success btn-add-on" href="">Faturayı Gör</a>
                                          <a class="btn btn-xs btn-success btn-add-on" href="/satis-sozlesmesi-y-146659?storeId=@order.StoreId&orderId=@order.OrderId">Sözleşmeyi Gör</a>


                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert" style="margin-top: 10px;">
                    Satın aldığınız herhangi bir paket siparişi bulunmamaktadır.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

