@model List<NeoSistem.MakinaTurkiye.Web.Models.Home.MTHomeAdModel>
<div class="row">
    <div class="col-md-12">
        <h2 style="color: #4F4F4F; font-family: Arial; font-size: 24px; font-weight: 700; line-height: 27px;">Vitrindeki Makina ve Ekipmanlar</h2>
        @foreach (var item in Model)
        {
    <div class="col-md-2 col-xs-6 home-showcase__item">
        <a href="@item.ProductUrl" title="@item.ProductName">
            <div class="home-showcase__img">
                <img src="@item.PicturePath" alt="@item.ProductName" />
            </div>
            <h5>@item.TruncatedProductName</h5>

        </a>
    </div>            }
    </div>
</div>
